﻿@model DeckbuilderWeb.ViewModels.Decks.DeckViewModel

<div class="container container-padded">
    <div class="row">
        <div class="col col-flex-end">
            <div class="btn btn-neutral btn-small modal-close">Close</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="mb-1 title-bar">Create a deck</h3>
            <div class="row">
                <div>
                    <form asp-action="Create" class="form form-vertical" autocomplete="off">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" type="hidden"/>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" required />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group form-group-select">
                            <label for="">Format</label>
                            <span class="select-arrow">
                                <select id="format" name="Format">
                                    <option selected value="Commander / EDH">Commander / EDH</option>
                                    <option value="Standard">Standard</option>
                                    <option value="Modern">Modern</option>
                                    <option value="Penny">Penny</option>
                                    <option value="Legacy">Legacy</option>
                                    <option value="Pauper EDH">Pauper EDH</option>
                                    <option value="Pauper">Pauper</option>
                                    <option value="Brawl">Brawl</option>
                                    <option value="Duel">Duel</option>
                                    <option value="Pioneer">Pioneer</option>
                                    <option value="Vintage">Vintage</option>
                                    <option value="Historic Brawl">Historic Brawl</option>
                                    <option value="Oldschool">Oldschool</option>
                                </select>
                            </span>
                        </div>
                        <div class="form-group form-group-checkboxes">
                            <div class="form-group-checkboxes-item mb-1">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsPrivate" /> @Html.DisplayNameFor(model => model.IsPrivate)
                                </label>
                            </div>
                            <div class="form-group-checkboxes-item">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsPrototype" /> @Html.DisplayNameFor(model => model.IsPrototype)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-accent" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
