﻿@using DeckbuilderWeb.Models.Catalogs
@model IEnumerable<DeckbuilderWeb.ViewModels.Decks.DeckCardViewModel>

<table class="deck-board-table mb-2">
    <tbody>
        @foreach (var card in Model)
        {
            <tr class="deck-board-table-item" data-card-id="@card.Id" data-card-image="@card.ImageFront">
                <td class="deck-board-table-quantity">@card.Quantity</td>
                <td class="deck-board-table-name">@card.Name</td>
                <td>
                    @if (!String.IsNullOrEmpty(card.ManaCost))
                    {
                        <div class="deck-board-table-mana-cost ml-auto">
                            @foreach (string s in Symbology.ParseSymbols(card.ManaCost))
                            {
                                if (string.IsNullOrEmpty(s))
                                {
                                    <span class="text-bigger">//</span>
                                }
                                else
                                {
                                    <img src="@s" class="deck-board-table-mana-cost-icon" />
                                }
                            }
                        </div>
                    }
                </td>
                <td class="deck-board-table-context text-muted ml-auto"><i class="fa-solid fa-ellipsis-vertical"></i></td>
            </tr>
        }
    </tbody>
</table>