﻿@using DeckbuilderWeb.Extensions
@model DeckbuilderWeb.ViewModels.Decks.DeckViewModel

@{
    var coverImage = @Model.CoverImage ?? "";
}
<div class="container container-fluid container-padded mb-2" style="background-image:url(@Model.CoverImage );" id="deck-details-banner">
    <div class="container container-padded mt-auto">
        <div class="row">
            <div class="col">
                <div class="deck-format mb-1 box-shadow-sm">@Model.Format</div>
                <h1>@Model.Title</h1>
                <div class="text-muted">Last updated @Model.UpdatedAt.RelativeTime()</div>
            </div>
        </div>
    </div>
</div>