﻿@model List<DeckbuilderWeb.ViewModels.Decks.DeckCardViewModel>

@{
    /* Grouping */
    var mainCommanders = Model.Where(c => c.IsCommander);

    var mainPlaneswalkers = Model.Where(c =>
        c.TypeLine.Contains("Planeswalker"));

    var mainCreatures = Model.Where(c =>
        c.TypeLine.Contains("Creature"));

    var mainInstants = Model.Where(c =>
        c.TypeLine.Contains("Instant"));

    var mainSorceries = Model.Where(c =>
         c.TypeLine.Contains("Sorcery"));

    var mainEnchantments = Model.Where(c =>
        c.TypeLine.Contains("Enchantment"));

    var mainArtifacts = Model.Where(c =>
        c.TypeLine.Contains("Artifact"));

    var mainLands = Model.Where(c =>
        c.TypeLine.Contains("Land"));

    var totalCards = (double)Model.Sum(c => c.Quantity);

    /* Deck composition */
    var totalPlaneswalkers = mainPlaneswalkers.Sum(c => c.Quantity);
    var totalCreatures = mainCreatures.Sum(c => c.Quantity);
    var totalSorceries = mainSorceries.Sum(c => c.Quantity);
    var totalInstants = mainInstants.Sum(c => c.Quantity);
    var totalArtifacts = mainArtifacts.Sum(c => c.Quantity);
    var totalEnchantments = mainEnchantments.Sum(c => c.Quantity);
    var totalLands = mainLands.Sum(c => c.Quantity);

    /* Deck curve */
    var totalCurveZero = Model.Where(c => c.ManaValue == 0 && !c.TypeLine.Contains("Land")).Sum(c => c.Quantity);
    var totalCurveOne = Model.Where(c => c.ManaValue == 1 && !c.TypeLine.Contains("Land")).Sum(c => c.Quantity);
    var totalCurveTwo = Model.Where(c => c.ManaValue == 2 && !c.TypeLine.Contains("Land")).Sum(c => c.Quantity);
    var totalCurveThree = Model.Where(c => c.ManaValue == 3 && !c.TypeLine.Contains("Land")).Sum(c => c.Quantity);
    var totalCurveFour = Model.Where(c => c.ManaValue == 4 && !c.TypeLine.Contains("Land")).Sum(c => c.Quantity);
    var totalCurveFive = Model.Where(c => c.ManaValue == 5 && !c.TypeLine.Contains("Land")).Sum(c => c.Quantity);
    var totalCurveSix = Model.Where(c => c.ManaValue == 6 && !c.TypeLine.Contains("Land")).Sum(c => c.Quantity);
    var totalCurveSeven = Model.Where(c => c.ManaValue == 7 && !c.TypeLine.Contains("Land")).Sum(c => c.Quantity);
    var totalCurveEightPlus = Model.Where(c => c.ManaValue >= 7 && !c.TypeLine.Contains("Land")).Sum(c => c.Quantity);

    var curveTotal = Model.Sum(c => c.Quantity * c.ManaValue);

    var curveCardCount = Model.Where(c => !c.TypeLine.Contains("Land")).Sum(c => c.Quantity);
    var curvCardCountWithLands = Model.Sum(c => c.Quantity);
    var curveAverage = (double)curveTotal / curveCardCount;
    var curveAverageWithLands = (double)curveTotal / curvCardCountWithLands;

    /* Deck mana */
    var totalCostWhite = Model.Sum(c => c.ManaCost.Count(s => s == 'W'));
    var totalCostBlue = Model.Sum(c => c.ManaCost.Count(s => s == 'U'));
    var totalCostBlack = Model.Sum(c => c.ManaCost.Count(s => s == 'B'));
    var totalCostRed = Model.Sum(c => c.ManaCost.Count(s => s == 'R'));
    var totalCostGreen = Model.Sum(c => c.ManaCost.Count(s => s == 'G'));
    var totalCostColorless = Model.Sum(c => c.ManaCost.Count(s => s == 'C'));

    var totalProducesWhite = Model.Where(c => c.ProducedMana?.Contains("W") ?? false).Sum(c => c.Quantity);
    var totalProducesBlue = Model.Where(c => c.ProducedMana?.Contains("U") ?? false).Sum(c => c.Quantity);
    var totalProducesBlack = Model.Where(c => c.ProducedMana?.Contains("B") ?? false).Sum(c => c.Quantity);
    var totalProducesRed = Model.Where(c => c.ProducedMana?.Contains("R") ?? false).Sum(c => c.Quantity);
    var totalProducesGreen = Model.Where(c => c.ProducedMana?.Contains("G") ?? false).Sum(c => c.Quantity);
    var totalProducesColorless = Model.Where(c => c.ProducedMana?.Contains("C") ?? false).Sum(c => c.Quantity);

    /* TODO : Do not count colors not in commander identity if format is commander */

}

@if (!Model.Any())
{
    <div class="row mb-1">
        <div class="col">
            <p class="text-muted text-bigger">No deck data to analyse.</p>
        </div>
    </div>
}
else
{
    <div class="row" >
        <div class="col-sm-12 col-md-6 col-xl-4 mb-3 deck-stats-item">
            <h4 class="text-muted mb-1">Composition</h4>
            <div id="deck-stats-composition-chart-container" class="deck-stats-canvas">
                <canvas id="deck-stats-composition-chart" height=350>
                </canvas>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4 mb-3 deck-stats-item">
            <h4 class="text-muted mb-1">Mana costs (outer) // Produced mana (inner)</h4>
            <div id="deck-stats-mana-chart-container" class="deck-stats-canvas">
                <canvas id="deck-stats-mana-chart" height=350>
                </canvas>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4 mb-3 deck-stats-item">
            <h4 class="text-muted mb-1">Curve</h4>
            <div id="deck-stats-curve-chart-container" class="deck-stats-canvas">
                <canvas id="deck-stats-curve-chart" height=250>
                </canvas>
            </div>
            <div class="text-muted my-1">Curve including lands: @string.Format("{0:N2}", curveAverageWithLands)</div>
            <div class="text-muted">Curve excluding lands : @string.Format("{0:N2}", curveAverage)</div>
        </div>
    </div>
}
<script src="~/lib/chart.js/dist/chart.min.js"></script>
<script>
    var compositionChartCtx = document.getElementById('deck-stats-composition-chart');
    var manaChartCtx = document.getElementById('deck-stats-mana-chart');
    var curveChartCtx = document.getElementById('deck-stats-curve-chart');
</script>
<script>
    var compositionChart = new Chart(compositionChartCtx, {
        type: 'pie',
        data: {
            labels: ['Planeswalkers', 'Creatures', 'Sorceries', 'Instants', 'Artifacts', 'Enchantments', 'Lands'],
            datasets: [{
                data: [@totalPlaneswalkers, @totalCreatures, @totalSorceries, @totalInstants, @totalArtifacts, @totalEnchantments, @totalLands],
                backgroundColor: [
                    '#ffc04699', // Yellow
                    '#e41b1b99', // Red
                    '#813f8d99', // Purple
                    '#1eacae99', // Blue
                    '#59595999', // Grey
                    '#cAc5c099', // Lightgrey
                    '#66b33299', // Green
                ],
                borderColor: [
                    '#1d1d1d', // Lightgrey
                ],
                borderWidth: 3,
                hoverOffset: 5
            }]
        },
        options: {
            maintainAspectRatio: false,
            layout: {
                padding: 20,
            },
            plugins: {
              legend: {
                  display: true,
                  position: 'right',
                  labels: {
                      font: {
                          size: 14,
                          family: 'Oxygen',
                          weight: 'bold',
                          color: 'rgba(255,255,255,0.7)'
                      },
                  },
              },
            }
          },
      });
</script>
<script>
    var manaChart = new Chart(manaChartCtx, {
        type: 'doughnut',
        data: {
            labels: ['White', 'Blue', 'Black', 'Red', 'Green', 'Colorless'],
            datasets: [{
                data: [
                    @totalCostWhite,
                    @totalCostBlue,
                    @totalCostBlack,
                    @totalCostRed,
                    @totalCostGreen,
                    @totalCostColorless,
                ],
                backgroundColor: [
                    '#cAc5c099', // Lightgrey
                    '#1eacae99', // Blue
                    '#813f8d99', // Purple
                    '#e41b1b99', // Red
                    '#66b33299', // Green
                    '#59595999', // Grey
                ],
                borderColor: [
                    '#1d1d1d', // Dark
                ],
                borderWidth: 3,
                hoverOffset: 5,
            },
            {
                data: [
    @totalProducesWhite,
    @totalProducesBlue,
    @totalProducesBlack,
    @totalProducesRed,
    @totalProducesGreen,
    @totalProducesColorless,
                ],
                backgroundColor: [
                    '#cAc5c099', // Lightgrey
                    '#1eacae99', // Blue
                    '#813f8d99', // Purple
                    '#e41b1b99', // Red
                    '#66b33299', // Green
                    '#59595999', // Grey
                ],
                borderColor: [
                    '#1d1d1d', // Dark
                ],
                borderWidth: 3,
            }]
        },
        options: {
            maintainAspectRatio: false,
            layout: {
                padding: 40,
            },
            plugins: {
              legend: {
                  display: true,
                  position: 'right',
                  labels: {
                      font: {
                          size: 14,
                          family: 'Oxygen',
                          weight: 'bold',
                          color: 'rgba(255,255,255,0.7)'
                      },
                  },
              },
            }
          },
      });
</script>
<script>
    var curveChart = new Chart(curveChartCtx, {
        type: 'bar',
        data: {
            labels: ['0', '1', '2', '3', '4', '5', '6', '7', '8+'],
            datasets: [{
                data: [
                    @totalCurveZero,
                    @totalCurveOne,
                    @totalCurveTwo,
                    @totalCurveThree,
                    @totalCurveFour,
                    @totalCurveFive,
                    @totalCurveSix,
                    @totalCurveSeven,
                    @totalCurveEightPlus,
                ],
                backgroundColor: [

                    '#813f8d99', // Purple
                ],
                borderColor: [
                    '#1d1d1d', // Lightgrey
                ],
            }]
        },
        options: {
            maintainAspectRatio: false,
            layout: {
                padding: 40,
            },
            plugins: {
                legend: {
                    display: false,
                },
            },
            scales: {
                x: {
                    ticks: {
                        font: {
                          size: 14,
                          family: 'Oxygen',
                          weight: 'bold',
                          color: 'rgba(255,255,255,0.7)'
                      },
                    }
                },
                y: {
                    ticks: {
                        font: {
                          size: 14,
                          family: 'Oxygen',
                          weight: 'bold',
                          color: 'rgba(255,255,255,0.7)'
                      },
                    }
                },
            },
        },
    });
</script>


