﻿@model DeckbuilderWeb.ViewModels.Decks.DeckViewModel

@{
    var mainCommanders = @Model.MainBoard.Where(c => c.IsCommander);

    var mainPlaneswalkers = @Model.MainBoard.Where(c =>
        !c.IsCommander &&
        !c.TypeLine.Contains("Creature") &&
        c.TypeLine.Contains("Planeswalker"));

    var mainCreatures = @Model.MainBoard.Where(c =>
        !c.IsCommander &&
        !c.TypeLine.Contains("Land") &&
        c.TypeLine.Contains("Creature"));

    var mainInstants = @Model.MainBoard.Where(c =>
        !c.IsCommander &&
        !c.TypeLine.Contains("Creature") &&
        c.TypeLine.Contains("Instant"));

    var mainSorceries = @Model.MainBoard.Where(c =>
        !c.IsCommander &&
        !c.TypeLine.Contains("Creature") &&
         c.TypeLine.Contains("Sorcery"));

    var mainEnchantments = @Model.MainBoard.Where(c =>
        !c.IsCommander &&
        !c.TypeLine.Contains("Creature") &&
        c.TypeLine.Contains("Enchantment"));

    var mainArtifacts = @Model.MainBoard.Where(c =>
        !c.IsCommander &&
        !c.TypeLine.Contains("Creature") &&
        !c.TypeLine.Contains("Land") &&
        c.TypeLine.Contains("Artifact"));

    var mainLands = @Model.MainBoard.Where(c =>
        !c.IsCommander &&
        c.TypeLine.Contains("Land"));
}

@if (!Model.MainBoard.Any())
{
    <div class="row mb-1">
        <div class="col">
            <p class="text-muted text-bigger">Your deck contains no cards! Use the searchbar above to add more!</p>
        </div>
    </div>
}
<div class="row mb-1">
    <div class="col col-fluid">
        <h3 class="title-bar">Mainboard (@Model.MainBoard.Select(c => c.Quantity).Sum())</h3>
    </div>
</div>
<div class="row mb-2">
    <div class="col-sm-12 col-xl-6 mb-1">
        @if (mainCommanders.Any())
        {
            <h4 class="title-bar text-muted">Commanders (@mainCommanders.Select(c => c.Quantity).Sum())</h4>
            <div class="deck-board w-100">
                <partial name="_DeckTablePartial" model=mainCommanders />
            </div>
        }
        @if (mainPlaneswalkers.Any())
        {
            <h4 class="title-bar text-muted">Planeswalkers (@mainPlaneswalkers.Select(c => c.Quantity).Sum())</h4>
            <div class="deck-board w-100">
                <partial name="_DeckTablePartial" model=mainPlaneswalkers />
            </div>
        }
        @if (mainCreatures.Any())
        {
            <h4 class="title-bar text-muted">Creatures (@mainCreatures.Select(c => c.Quantity).Sum())</h4>
            <div class="deck-board w-100">
                <partial name="_DeckTablePartial" model=mainCreatures />
            </div>
        }
        @if (mainSorceries.Any())
        {
            <h4 class="title-bar text-muted">Sorceries (@mainSorceries.Select(c => c.Quantity).Sum())</h4>
            <div class="deck-board w-100">
                <partial name="_DeckTablePartial" model=mainSorceries />
            </div>
        }
    </div>
    <div class="col-sm-12 col-xl-6 mb-1">
        @if (mainInstants.Any())
        {
            <h4 class="title-bar text-muted">Instants (@mainInstants.Select(c => c.Quantity).Sum())</h4>
            <div class="deck-board w-100">
                <partial name="_DeckTablePartial" model=mainInstants />
            </div>
        }
        @if (mainArtifacts.Any())
        {
            <h4 class="title-bar text-muted">Artifacts (@mainArtifacts.Select(c => c.Quantity).Sum())</h4>
            <div class="deck-board w-100">
                <partial name="_DeckTablePartial" model=mainArtifacts />
            </div>
        }
        @if (mainEnchantments.Any())
        {
            <h4 class="title-bar text-muted">Enchantments (@mainEnchantments.Select(c => c.Quantity).Sum())</h4>
            <div class="deck-board w-100">
                <partial name="_DeckTablePartial" model=mainEnchantments />
            </div>
        }
        @if (mainLands.Any())
        {
            <h4 class="title-bar text-muted">Lands (@mainLands.Select(c => c.Quantity).Sum())</h4>
            <div class="deck-board w-100">
                <partial name="_DeckTablePartial" model=mainLands />
            </div>
        }
        @if (Model.SideBoard.Any())
        {
            <h4 class="title-bar text-muted">Sideboard (@Model.SideBoard.Select(c => c.Quantity).Sum())</h4>
            <div class="deck-board w-100">
                <partial name="_DeckTablePartial" model=@Model.SideBoard />
            </div>
        }
    </div>
</div>