﻿@model int

<div class="container container-padded">
    <div class="row">
        <div class="col">
            <h3 class="mb-1 title-bar">Please confirm</h3>
            <div class="mb-2">
                Do you really want to delete this deck?<br />
                Your deck can <strong>never be recovered</strong> after this.
            </div>
            <div class="btn-grid">
                <div class="btn btn-neutral modal-cancel"><i class="fa-solid fa-xmark"></i>Cancel</div>
                <a asp-action=Delete asp-route-id=@Model class="btn btn-danger"><i class="fa-solid fa-trash"></i>Delete</a>
            </div>
        </div>
    </div>
</div>