﻿@model DeckbuilderWeb.ViewModels.Decks.DeckExportTextViewModel

<div class="container container-padded">
    <div class="row">
        <div class="col col-flex-end">
            <div class="btn btn-neutral btn-small modal-close">Close</div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div class="btn btn-accent" id="deck-copy-trigger"><i class="fa-solid fa-clipboard"></i>Copy to clipboard</div>
            <div class="text-success mt-1 d-none" id="deck-copy-confirmation">Copied!</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @if (Model.MainBoard.Any())
            {
                <table id="deck-list-export-table">
                    <tbody>

                        @foreach (var card in Model.MainBoard)
                        {
                            <tr>
                                <td>@card.Quantity</td>
                                <td class="pl-1">@card.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-muted">This deck's' mainboard contains no cards.</p>
            }
        </div>
    </div>
</div>