﻿@using DeckbuilderWeb.Extensions
@using DeckbuilderWeb.ViewModels.Decks
@model DeckbuilderWeb.ViewModels.Decks.DeckViewModel

@section Styles {
<link rel="stylesheet" href="~/css/deck.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
}

@section Scripts {
<script src="~/js/deck.js"></script>
<script src="~/js/deck-modal.js"></script>
<script src="~/js/card.js"></script>
}

@{
    ViewData["Title"] = @Model.Title;
    string firstImage;
    if (Model.MainBoard.Any(c => c.IsCommander))
    {
        firstImage = Model.MainBoard.First(c => c.IsCommander).ImageFront;
    }
    else if (Model.MainBoard.Any())
    {
        firstImage = Model.MainBoard.First().ImageFront;
    }
    else
    {
        firstImage = "";
    }
}
<div id="deck-banner-container">
    <partial name="_DeckBannerPartial" model=@Model />
</div>

<div class="container py-2">
    <div class="row mb-3">
        <div class="col">
            <a asp-action=Index class="btn btn-neutral btn-small"><i class="fa-solid fa-angle-left"></i> Return to list</a>
        </div>
    </div>
    <div class="row mb-1">
        <form method="post" id="card-add-to-deck-form" class="form w-100" autocomplete="off">
            <input type="hidden" value="@Model.Id" id="deck-id" name="deck_id" />
            <div class="col-sm-8 col-md-6 col-xl-4">
                <div class="form-group form-group-search w-100">
                    <input type="text" name="card_name" id="card-name" placeholder="Search cards by name..." />
                    @* <input type="submit" class="form-group-search-button btn-accent" value="Search"> *@
                    <div id="card-name-suggestions" class="box-shadow-lg"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-9 col-fluid" id="deck-boards">
            <partial name=_DeckBoardPartial model=@Model />
        </div>
        <div class="col-md-4 col-lg-3 col-flex-center mb-5" id="card-preview">
            <div class="card-image">
                <img src="@firstImage" />
            </div>
        </div>
    </div>
    <hr class="hr-light" />
    <div class="row mb-1" id="deck-analysis">
        <div class="col">
            <h3 class="title-bar mr-2">Deck analysis</h3>
            <a href="#deck-analysis" class="btn btn-accent my-1" id="analyse-deck-trigger" data-id="@Model.Id"><i class="fa-solid fa-flask"></i> Analyse deck</a>
            <p id="deck-stats-content-changed">Deck data has changed since last analysis. Click on "Analyse deck" to get an updated analysis</p>
        </div>
    </div>
    <div class="row">
        <div class="col" id="deck-stats">
            <partial name=_DeckStatsPartial model=@Model.MainBoard />
        </div>
    </div>
    <hr class="hr-light" />
    <div class="row mb-2">
        <div class="col">
            <h3 class="title-bar mb-2">Export deck</h3>
            <div class="btn-grid">
                <div data-id=@Model.Id class="btn btn-accent" id="deck-export-text"><i class="fa-solid fa-file-lines"></i>Text</div>
            </div>
        </div>
    </div>
    <hr class="hr-light" />
    <div class="row mb-2">
        <div class="col">
            <div class="btn-grid">
                <div class="btn btn-primary" id="edit-deck-modal-trigger"><i class="fa-solid fa-pencil"></i>Edit deck</div>
                <div class="btn btn-neutral" id="delete-deck-modal-trigger"><i class="fa-solid fa-trash"></i>Delete deck</div>
            </div>
        </div>
    </div>
</div>

<div id="edit-deck-modal" class="modal">
    <partial name="_EditPartial.cshtml" model=@Model />
</div>

<div id="delete-deck-modal" class="modal">
    <partial name="_DeletePartial" model=@Model.Id />
</div>

<div id="card-details-modal" class="modal modal-large"></div>

<div id="export-deck-text-modal" class="modal"></div>