﻿@using DeckbuilderWeb.Extensions
@using DeckbuilderWeb.ViewModels.Decks
@model DeckbuilderWeb.ViewModels.Decks.DeckListViewModel

@{
    DeckViewModel createDeck = new DeckViewModel();
    ViewData["Title"] = "Your decks";
}
@section Styles {
<link rel="stylesheet" href="~/css/deck.css" asp-append-version="true" />
}

@section Scripts {
<script src="~/js/deck-modal.js"></script>
}

<div class="container container-padded" id="deck-index">
    <div class="row">
        <div class="col">
            <h1 class="mr-2">Decks management</h1>
            <div class="btn-grid">
                <a id="create-deck-modal-trigger" class="btn btn-accent"><i class="fa-solid fa-layer-group"></i>Create a deck</a>
            </div>
        </div>
    </div>
    @if (Model.Decks != null && Model.Decks.Count > 0)
    {
        <div class="row row-wrap-reverse">
            <div class="col-sm-12 col-md-6 col-xl-8 py-2">
                <div class="row mb-1">
                    <h3 class="title-bar mr-1">Your collection (@Model.TotalDecks)</h3>
                </div>
                <div class="deck-grid">
                    @foreach (var deck in Model.Decks.OrderByDescending(d => d.UpdatedAt))
                    {
                        <div class="deck-grid-item">
                            <a asp-controller=Decks asp-action=Details asp-route-id=@deck.Id class="deck-grid-item-image" style="background-image: url(@deck.CoverImage);">
                                <div class="deck-grid-item-format box-shadow-sm">@deck.Format</div>
                            </a>
                            <div class="deck-grid-item-content">
                                <div class="deck-grid-item-title text-bigger">@deck.Title</div>
                                <div class="deck-grid-item-updated-at text-muted text-smaller text-italic">Last updated @deck.UpdatedAt.RelativeTime()</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 mb-3 py-2" id="latest-decks">
                <div class="row mb-1">
                    <h3 class="title-bar">Latest decks</h3>
                </div>
                <div class="deck-grid deck-grid-vertical">
                    @foreach (var deck in Model.Decks.Take(3).OrderByDescending(d => d.CreatedAt))
                    {
                        <div class="deck-grid-item">
                            <a asp-controller=Decks asp-action=Details asp-route-id=@deck.Id class="deck-grid-item-image" style="background-image: url(@deck.CoverImage);">
                                <div class="deck-grid-item-format box-shadow-sm">@deck.Format</div>
                            </a>
                            <div class="deck-grid-item-content">
                                <div class="deck-grid-item-title text-bigger">@deck.Title</div>
                                <div class="deck-grid-item-updated-at text-muted text-smaller text-italic">Last updated @deck.UpdatedAt.RelativeTime()</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row my-1">
            <div class="col">
                <p class="text-muted text-bigger">Your collection looks pretty empty... Try creating your first deck!</p>
            </div>
        </div>
    }
</div>
<div id="create-deck-modal" class="modal">
    <partial name="_CreatePartial.cshtml" model=@createDeck />
</div>