﻿@import "_variables.scss";
@import "_mixins.scss";

.btn {
    @include transition($transition-100);
    @include flex;
    align-items: center;
    background-color: $neutral-main !important;
    font-size: $font-size-default;
    padding: 0.5em 1em;
    border-radius: calc(0.9* $border-radius-default);
    width: fit-content;
    cursor: pointer;

    & > i {
        margin-right: 0.5rem;
    }

    &-round {
        border-radius: $border-radius-round;
    }

    &-center {
        text-align: center;
    }

    &-small {
        font-size: 0.9rem;
        border-radius: calc(0.75 * $border-radius-default);
    }

    &-large {
        font-size: 1.35rem;
        border-radius: calc(1.15 * $border-radius-default);
    }

    &-grid {
        @include flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1em;
        width: 100%;

        @include media("md") {
            flex-direction: row;
        }

        &-center {
            justify-content: center;
        }

        &-vertical {
            flex-direction: column;
            align-items: flex-start;

            &.btn-grid-center {
                align-items: center;
            }
        }
    }

    &:hover {
        background-color: $neutral-lighter !important;
    }

    &-primary {
        background-color: $primary-main !important;

        &:hover {
            background-color: $primary-lighter !important;
        }
    }

    &-accent {
        background-color: $accent-main !important;

        &:hover {
            background-color: $accent-lighter !important;
        }
    }

    &-success {
        background-color: $success-main !important;

        &:hover {
            background-color: $success-lighter !important;
        }
    }

    &-warning {
        background-color: $warning-main !important;

        &:hover {
            background-color: $warning-lighter !important;
        }
    }

    &-danger {
        background-color: $danger-main !important;

        &:hover {
            background-color: $danger-lighter !important;
        }
    }

    &:disabled, &-disabled {
        background-color: $neutral-lighter !important;
    }
}

input.btn {
    width: unset;
    border: 2px solid transparent !important;
    color: white;
    justify-content: center;
    align-items: center;

    &:focus {
        border-color: $accent-main !important;
    }

    &.btn-accent:focus {
        border-color: $primary-lighter !important;
    }
}
