﻿@import "_variables.scss";
@import "_mixins.scss";

.container {
    width: 94%;
    max-width: $container-width;
    box-sizing: border-box;
    margin: auto;

    &-fluid {
        width: 100%;
        max-width: unset;
    }

    &-padded {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.row {
    @include flex;
    flex-wrap: wrap;
    width: 100%;

    &-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    &-align-center {
        align-items: center;
    }

    &-justify-center {
        justify-content: center;
    }
}

.col {
    @include flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 0 $flex-default-gutter;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    box-sizing: border-box;
    align-items: flex-start;

    &-fluid  {
        padding: 0 !important;
    }

    &-flex-end {
        align-items: flex-end !important;
    }

    &-flex-center {
        align-items: center !important;
    }
}

.col-sm, .col-md, .col-lg, .col-xl {
    &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
        @include flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        padding: 0 $flex-default-gutter;
        box-sizing: border-box;
        align-items: flex-start;
    }
}

@media (min-width: $media-width-phone) {
    .col-sm {
        &-1 {
            @include flex-col($one-twelfth);
        }

        &-2 {
            @include flex-col($two-twelfth);
        }

        &-3 {
            @include flex-col($three-twelfth);
        }

        &-4 {
            @include flex-col($four-twelfth);
        }

        &-5 {
            @include flex-col($five-twelfth);
        }

        &-6 {
            @include flex-col($six-twelfth);
        }

        &-7 {
            @include flex-col($seven-twelfth);
        }

        &-8 {
            @include flex-col($eight-twelfth);
        }

        &-9 {
            @include flex-col($nine-twelfth);
        }

        &-10 {
            @include flex-col($ten-twelfth);
        }

        &-11 {
            @include flex-col($eleven-twelfth);
        }

        &-12 {
            @include flex-col($twelve-twelfth);
        }
    }
}

@media (min-width: $media-width-tablet) {
    .col-md {
        &-1 {
            @include flex-col($one-twelfth);
        }

        &-2 {
            @include flex-col($two-twelfth);
        }

        &-3 {
            @include flex-col($three-twelfth);
        }

        &-4 {
            @include flex-col($four-twelfth);
        }

        &-5 {
            @include flex-col($five-twelfth);
        }

        &-6 {
            @include flex-col($six-twelfth);
        }

        &-7 {
            @include flex-col($seven-twelfth);
        }

        &-8 {
            @include flex-col($eight-twelfth);
        }

        &-9 {
            @include flex-col($nine-twelfth);
        }

        &-10 {
            @include flex-col($ten-twelfth);
        }

        &-11 {
            @include flex-col($eleven-twelfth);
        }

        &-12 {
            @include flex-col($twelve-twelfth);
        }
    }
}

@media (min-width: $media-width-desktop) {
    .col-lg {
        &-1 {
            @include flex-col($one-twelfth);
        }

        &-2 {
            @include flex-col($two-twelfth);
        }

        &-3 {
            @include flex-col($three-twelfth);
        }

        &-4 {
            @include flex-col($four-twelfth);
        }

        &-5 {
            @include flex-col($five-twelfth);
        }

        &-6 {
            @include flex-col($six-twelfth);
        }

        &-7 {
            @include flex-col($seven-twelfth);
        }

        &-8 {
            @include flex-col($eight-twelfth);
        }

        &-9 {
            @include flex-col($nine-twelfth);
        }

        &-10 {
            @include flex-col($ten-twelfth);
        }

        &-11 {
            @include flex-col($eleven-twelfth);
        }

        &-12 {
            @include flex-col($twelve-twelfth);
        }
    }
}

@media (min-width: $media-width-large-desktop) {
    .col-xl {
        &-1 {
            @include flex-col($one-twelfth);
        }

        &-2 {
            @include flex-col($two-twelfth);
        }

        &-3 {
            @include flex-col($three-twelfth);
        }

        &-4 {
            @include flex-col($four-twelfth);
        }

        &-5 {
            @include flex-col($five-twelfth);
        }

        &-6 {
            @include flex-col($six-twelfth);
        }

        &-7 {
            @include flex-col($seven-twelfth);
        }

        &-8 {
            @include flex-col($eight-twelfth);
        }

        &-9 {
            @include flex-col($nine-twelfth);
        }

        &-10 {
            @include flex-col($ten-twelfth);
        }

        &-11 {
            @include flex-col($eleven-twelfth);
        }

        &-12 {
            @include flex-col($twelve-twelfth);
        }
    }
}