﻿@import "_variables.scss";
@import "_mixins.scss";

footer {
    @include flex;
    align-items: center;
    background-color: $primary-main;
    margin-top: auto;
    height: $footer-height;

    .copyrights {
        font-size: 0.85rem;
        font-weight: 100;
        text-align: right;
    }
}
