﻿@import "_variables.scss";
@import "_mixins.scss";

.form {
    @include flex;

    .row {
        .row {
            width: 100%;
        }

        .form-group {
            width: 100%;
        }
    }

    input, textarea, select {
        @include transition($transition-100);
        border: 0;
        border-bottom: 2px solid transparent;
        outline: none;
        padding: 0.75rem 1rem;
        background-color: $neutral-main;
        color: $light-text;
        width: 100%;
        max-width: 28.125rem; // Equals the max width of an input in a col-3 at max width
        box-sizing: border-box;

        &:focus {
            //border-radius: $border-radius-default;
            border-color: $accent-main;
        }
    }


    label {
        margin-bottom: 0.5rem;
    }

    select {
        padding-left: 2.5rem;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml;utf8,<svg height='24' viewBox='0 0 24 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='#FFFFFF'/></g></svg>") !important;
        background-position-x: 100%;
        background-position-y: 5px;
    }

    textarea {
        resize: none;
    }

    input[type='text'] {
        width: auto;
    }

    &-group {
        @include flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 1.5rem;

        &-checkboxes {
            justify-content: flex-start;
            border-bottom: 2px solid transparent;

            &-item {
                input {
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: $neutral-main;
                    margin: 0;
                    font: inherit;
                    color: currentColor;
                    width: 1rem;
                    height: 1rem;
                    transform: translateY(-0.075em);
                    display: grid;
                    place-content: center;
                    border: none;
                    padding: 0.75rem;

                    &::before {
                        @include transition ($transition-100);
                        @include transform(scale(0));
                        content: "";
                        width: 0.85rem;
                        height: 0.85rem;
                        background-color: $accent-main;
                    }

                    &:checked::before {
                        @include transform(scale(1));
                    }
                }

                label {
                    @include flex;
                    grid-template-columns: 2.5rem auto;
                    align-items: center;
                    gap: 0.5em;
                    align-items: center;
                    gap: 1rem;
                }
            }
        }

        &-radios {
            justify-content: flex-start;
            border-bottom: 2px solid transparent;

            &-item {
                margin-bottom: 1rem;
            }
        }

        &-search {
            flex-direction: row;
            justify-content: flex-start;
            position: relative;

            &-button {
                width: fit-content !important; 
            }

            input[type='text'] {
                width: 100% !important;
                max-width: unset;
            }
        }
    }

    &-vertical {
        flex-direction: column;
    }

    #form-errors {
        display: none;

        .message {
            position: relative;
            color: $danger-lighter;
            border: 2px solid $danger-lighter;
            overflow: visible;

            &::before {
                overflow: visible;
                content: "\f00d";
                font-family: $font-family-fontawesome;
                position: absolute;
                left: -0.65em;
                font-size: larger;
                background-color: $neutral-darker;
                padding: 0 0.5rem;
            }
        }
    }
}

.select-arrow {
    position: relative;

    &:after {
        @include flex;
        align-items: center;
        justify-content: center;
        content: "\f03a";
        font-family: $font-family-fontawesome;
        font-size: 1rem;
        color: $light-text;
        font-weight: 100;
        position: absolute;
        left: 2px;
        top: 0;
        z-index: 1;
        text-align: center;
        width: fit-content;
        height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        padding: 0 0.75rem;
    }
}
