﻿@import "_variables.scss";
@import "_mixins.scss";

html {
    font-size: $font-size-default;
    scroll-behavior: smooth;
}

body {
    @include flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $neutral-darker;
    font-size: $font-size-default;
    color: $light-text;
}

#main-container {
    margin-top: $navbar-height;
    position: relative;
}

//#site-preloader {
//    @include flex;
//    justify-content: center;
//    align-items: center;
//    position: fixed;
//    background-color: $primary-main;
//    z-index: $z-index-header;
//    top: 0;
//    left: 0;
//    width: 100vw;
//    height: 100vh;
//}

::-moz-selection { /* Code for Firefox */
}

::selection {
    color: $light-text;
    background: rgba($accent-lighter, 0.25);
}

hr {
    margin-top: 1.35rem;
    margin-bottom: 1.35rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid $light-dividers;
}

.hr {
    &-light {
        border-bottom-color: $light-dividers;
    }

    &-dark {
        border-bottom-color: $dark-dividers;
    }

    &-50 {
    }

    &-75 {
        width: 75%;
    }
}

.d {
    &-flex {
        @include flex;
    }

    &-block {
        display: block;
    }

    &-inline {
        display: inline;
    }

    &-none {
        display: none;
    }
}

.box-shadow {
    &-sm {
        box-shadow: $box-shadow-sm;
    }

    &-md {
        box-shadow: $box-shadow-md;
    }

    &-lg {
        box-shadow: $box-shadow-lg;
    }
}

.context-menu-root {
    padding: 0;
    box-shadow: $box-shadow-lg;
    font-size: $font-size-default;
    width: 270px !important;
}

.context-menu-root, .context-menu-item {
    background-color: #2d2d2d;
    color: white;
    border: none;
    border-radius: 0;
    font-weight: 400 !important;
}

.context-menu-item {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    transition: 100ms ease-in-out;

    span {
        font-size: $font-size-default;
        font-family: $font-family-body !important;
    }
}

.context-menu-item:hover {
    background-color: $accent-main;
}

.context-menu-icon::before {
    color: white !important;
}

.modal {
    @include transition($transition-350);
    position: fixed;
    opacity: 0;
    pointer-events: none;
    z-index: $z-index-drawer - 1;
    background-color: $light-dividers;
    top: $navbar-height;
    left: 0;
    right: 0;
    height: calc(100vh - $navbar-height);
    backdrop-filter: blur(1px);

    & > .container {
        @include transition($transition-350);
        position: absolute;
        left: -100vw;
        top: 0;
        background-color: $neutral-darker;
        height: 100%;
        width: 80vw;
        padding-left: 1rem;
        padding-right: 1rem;
        overflow-y: auto;

        @include media("md") {
            width: 50vw;
            max-width: 500px;
        }
    }

    &-close {
        position: absolute;
        z-index: $z-index-drawer;
    }

    &.visible {
        opacity: 1;
        pointer-events: all;

        & > .container {
            left: 0;
        }
    }

    &-large {
        & > .container {
            padding-top: 3rem;

            @include media("md") {
                max-width: 750px;
            }
        }
    }
}
