﻿@import "_variables.scss";
@import "_mixins.scss";

body.nav-opened {
    //height: 100vh;
    //overflow-y: hidden;
    //.navbar-user {
    //    padding-right: calc($flex-default-gutter + $scrollbar-width);
    //}
}

#navbar-toggle {
    margin-right: 2rem;
    margin-left: 1.5em;

    .navbar-icon {
        font-size: 1.25rem;
    }
}

#navbar {
    @include flex;
    align-items: center;
    background-color: $primary-main;
    color: $light-text;
    height: $navbar-height;
    z-index: $z-index-header;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    &-content {
        @include flex;
        justify-content: center;

        .site-logo {
            display: none;
            @include media("sm") {
                @include flex;
                align-items: center;
            }

            a {
                @include flex;
                align-items: center;

                img {
                    height: calc($navbar-height / 2);
                    width: auto;
                }
            }
        }
    }

    &-links {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    &-icon {
        display: flex !important;
        @include transition($transition-100);
        align-items: center;
        justify-content: center;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: $border-radius-round;
        padding: 0.75rem;

        &:hover {
            color: $primary-main;
            background-color: $light-text;
        }
    }
}

#navbar-main {
    .navbar {
        &-item {
            margin-left: 1rem;
        }

        &-links {
            @include flex;
        }
    }
}

#navbar-drawer {
    @include transition($transition-350);
    background-color: $neutral-darker;
    position: absolute;
    top: $navbar-height;
    left: -100vw;
    width: 100vw;
    opacity: 0;
    height: calc(100vh - $navbar-height);
    z-index: $z-index-drawer;

    @include media("md") {
        width: $navbar-drawer-width;
    }

    &.opened {
        left: 0;
        opacity: 1;
    }

    .navbar {
        &-item {
            @include transition($transition-100);
            background-color: $accent-main;

            &:hover {
                padding-left: 0.75rem;
                .navbar-link {
                    opacity: 0.85;
                }
            }

            a {
                @include transition($transition-100);
                @include flex;
                padding: 1em 1em 1em 1.15em;
                text-align: right;
                background-color: $neutral-darker;

                i {
                    margin-right: 1em;
                }
            }
        }

        &-links {
            margin-left: 0;
            padding-left: 0;
        }
    }
}

#navbar-overlay {
    @include transition($transition-350);
    background-color: $light-dividers;
    position: absolute;
    top: $navbar-height;
    left: 0;
    width: 100vw;
    height: calc(100vh - $navbar-height);
    pointer-events: none;
    opacity: 0;
    backdrop-filter: blur(1px);

    &.visible {
        pointer-events: all;
        opacity: 1;
    }
}
