﻿@import "_variables.scss";

@mixin media($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type == max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin transition($x) {
    transition: $x;
    -webkit-transition: $x;
    -moz-transition: $x;
    -o-transition: $x;
}

@mixin flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin grid {
    display: -ms-grid;
    display: grid;
}

@mixin sticky($top) {
    position: -webkit-sticky;
    position: sticky;
    top: $top;
}


@mixin transform($x) {
    -webkit-transform: $x;
    -ms-transform: $x;
    transform: $x;
}

@mixin flex-col($width-percent) {
    flex: 0 0 $width-percent;
    max-width: $width-percent;
}