﻿@import "_variables.scss";

::-webkit-scrollbar {
    width: $scrollbar-width;
}
::-webkit-scrollbar-track {
    background-color: $neutral-main; 
}

::-webkit-scrollbar-thumb {
    background-color: $neutral-lighter;
    border-radius: $border-radius-default;
    border: 4px solid $neutral-main;
}

::-webkit-scrollbar-thumb:hover {
    background: $dark-accent-text;
    border-radius: $border-radius-default;
    border: 4px solid $neutral-main;
}
