﻿.m {
    &-0 {
        margin: 0 !important;
    }

    &-1 {
        margin: 1rem !important;
    }

    &-2 {
        margin: 2rem !important;
    }

    &-3 {
        margin: 3rem !important;
    }

    &-4 {
        margin: 4rem !important;
    }

    &-5 {
        margin: 5rem !important;
    }

    &-auto {
        margin: auto;
    }
}

.mb {
    &-0 {
        margin-bottom: 0 !important;
    }

    &-1 {
        margin-bottom: 1rem !important;
    }

    &-2 {
        margin-bottom: 2rem !important;
    }

    &-3 {
        margin-bottom: 3rem !important;
    }

    &-4 {
        margin-bottom: 4rem !important;
    }

    &-5 {
        margin-bottom: 5rem !important;
    }

    &-auto {
        margin-bottom: auto;
    }
}

.mt {
    &-0 {
        margin-top: 0 !important;
    }

    &-1 {
        margin-top: 1rem !important;
    }

    &-2 {
        margin-top: 2rem !important;
    }

    &-3 {
        margin-top: 3rem !important;
    }

    &-4 {
        margin-top: 4rem !important;
    }

    &-5 {
        margin-top: 5rem !important;
    }

    &-auto {
        margin-top: auto;
    }
}

.ml {
    &-0 {
        margin-left: 0 !important;
    }

    &-1 {
        margin-left: 1rem !important;
    }

    &-2 {
        margin-left: 2rem !important;
    }

    &-3 {
        margin-left: 3rem !important;
    }

    &-4 {
        margin-left: 4rem !important;
    }

    &-5 {
        margin-left: 5rem !important;
    }

    &-auto {
        margin-left: auto;
    }
}

.mr {
    &-0 {
        margin-right: 0 !important;
    }

    &-1 {
        margin-right: 1rem !important;
    }

    &-2 {
        margin-right: 2rem !important;
    }

    &-3 {
        margin-right: 3rem !important;
    }

    &-4 {
        margin-right: 4rem !important;
    }

    &-5 {
        margin-right: 5rem !important;
    }

    &-auto {
        margin-right: auto;
    }
}

.mx {
    &-0 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    &-1 {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    &-2 {
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }

    &-3 {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }

    &-4 {
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }

    &-5 {
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }

    &-auto {
        margin-left: auto;
        margin-right: auto;
    }
}

.my {
    &-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    &-1 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    &-2 {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }

    &-3 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

    &-4 {
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }

    &-5 {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }

    &-auto {
        margin-top: auto;
        margin-block: auto;
    }
}

.p {
    &-0 {
        padding: 0 !important;
    }

    &-1 {
        padding: 1rem !important;
    }

    &-2 {
        padding: 2rem !important;
    }

    &-3 {
        padding: 3rem !important;
    }

    &-4 {
        padding: 4rem !important;
    }

    &-5 {
        padding: 5rem !important;
    }
}

.pb {
    &-0 {
        padding-bottom: 0 !important;
    }

    &-1 {
        padding-bottom: 1rem !important;
    }

    &-2 {
        padding-bottom: 2rem !important;
    }

    &-3 {
        padding-bottom: 3rem !important;
    }

    &-4 {
        padding-bottom: 4rem !important;
    }

    &-5 {
        padding-bottom: 5rem !important;
    }
}

.pt {
    &-0 {
        padding-top: 0 !important;
    }

    &-1 {
        padding-top: 1rem !important;
    }

    &-2 {
        padding-top: 2rem !important;
    }

    &-3 {
        padding-top: 3rem !important;
    }

    &-4 {
        padding-top: 4rem !important;
    }

    &-5 {
        padding-top: 5rem !important;
    }
}

.pl {
    &-0 {
        padding-left: 0 !important;
    }

    &-1 {
        padding-left: 1rem !important;
    }

    &-2 {
        padding-left: 2rem !important;
    }

    &-3 {
        padding-left: 3rem !important;
    }

    &-4 {
        padding-left: 4rem !important;
    }

    &-5 {
        padding-left: 5rem !important;
    }
}

.pr {
    &-0 {
        padding-right: 0 !important;
    }

    &-1 {
        padding-right: 1rem !important;
    }

    &-2 {
        padding-right: 2rem !important;
    }

    &-3 {
        padding-right: 3rem !important;
    }

    &-4 {
        padding-right: 4rem !important;
    }

    &-5 {
        padding-right: 5rem !important;
    }
}

.px {
    &-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    &-1 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    &-2 {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    &-3 {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }

    &-4 {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }

    &-5 {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
}

.py {
    &-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    &-1 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    &-2 {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    &-3 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }

    &-4 {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }

    &-5 {
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
}

.w {
    &-auto {
        width: auto;
    }

    &-fit {
        width: fit-content;
    }

    &-100 {
        width: 100% !important;
        box-sizing: border-box;
    }

    &-75 {
        width: 75% !important;
        box-sizing: border-box;
    }

    &-50 {
        width: 50% !important;
        box-sizing: border-box;
    }

    &-25 {
        width: 25% !important;
        box-sizing: border-box;
    }

    &-15 {
        width: 15% !important;
        box-sizing: border-box;
    }
}

.h {
    &-auto {
        height: auto;
    }

    &-fit {
        height: fit-content;
    }

    &-100 {
        height: 100% !important;
    }

    &-75 {
        height: 75% !important;
    }

    &-50 {
        height: 50% !important;
    }

    &-25 {
        height: 25% !important;
    }

    &-15 {
        height: 15% !important;
    }
}

