﻿@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap'); // Site font
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap'); // Mana symbols serif font
@import "_variables.scss";
@import "_mixins.scss";

:root {
    font-family: $font-family-body;

    h1, h2, h3, h4 {
        font-family: $font-family-header;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0.35em;

        &.title-bar {
            border-left: 2px solid $light-text;
            padding-left: 0.5em;
        }
    }

    h1 {
        font-size: $font-size-sm-h1;

        @include media("md") {
            font-size: $font-size-md-h1;
        }

        @include media("lg") {
            font-size: $font-size-lg-h1;
        }
    }

    h2 {
        font-size: $font-size-sm-h2;

        @include media("md") {
            font-size: $font-size-md-h2;
        }

        @include media("lg") {
            font-size: $font-size-lg-h2;
        }
    }

    h3 {
        font-size: $font-size-sm-h3;

        @include media("md") {
            font-size: $font-size-md-h3;
        }

        @include media("lg") {
            font-size: $font-size-lg-h3;
        }
    }

    h4 {
        font-size: $font-size-sm-h4;

        @include media("md") {
            font-size: $font-size-md-h4;
        }

        @include media("lg") {
            font-size: $font-size-lg-h4;
        }
    }

    p {
        line-height: 1.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        &.subtitle {
            margin-top: 0 !important;
            font-size: $font-size-sm-h4;
        }
    }

    a {
        text-decoration: none;
        color: inherit;

        &:visited, &:active {
            color: inherit;
        }
    }

    .text {
        &-muted {
            opacity: $muted-opacity;
        }

        &-bigger {
            font-size: $font-size-bigger;
        }

        &-smaller {
            font-size: $font-size-smaller;
        }

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }

        &-italic {
            font-style: italic;
        }

        &-success {
            color: $success-main;
        }

        &-warning {
            color: $warning-main;
        }

        &-danger, &-error {
            color: $danger-main;
        }
    }
}
