﻿$container-width: 1920px;
$flex-default-gutter: 15px;
$navbar-height: 75px;
$navbar-drawer-width: 320px;
$footer-height: 50px;
$scrollbar-width: 15px;
$card-max-width: 320px;

$border-radius-default: 15px;
$border-radius-round: 50%;


$hover-opacity: 0.6;
$muted-opacity: 0.7;

$transition-cubic-bezier: cubic-bezier(.26,.53,.6,.93);
$transition-100: 100ms $transition-cubic-bezier;
$transition-200: 200ms $transition-cubic-bezier;
$transition-350: 350ms $transition-cubic-bezier;
$transition-500: 500ms $transition-cubic-bezier;

$z-index-header: 5000;
$z-index-drawer: 4000;

$media-width-phone: 576px;
$media-width-tablet: 768px;
$media-width-desktop: 992px;
$media-width-large-desktop: 1200px;
$media-width-extra-large: 1400px;
$breakpoints: ( "sm": $media-width-phone, "md": $media-width-tablet, "lg": $media-width-desktop, "xl": $media-width-large-desktop, "xxl": $media-width-extra-large);

$one-twelfth: 8.333333%;
$two-twelfth: 16.666667%;
$three-twelfth: 25%;
$four-twelfth: 33.333333%;
$five-twelfth: 41.666667%;
$six-twelfth: 50%;
$seven-twelfth: 58.333333%;
$eight-twelfth: 66.666667%;
$nine-twelfth: 75%;
$ten-twelfth: 83.333333%;
$eleven-twelfth: 91.666667%;
$twelve-twelfth: 100%;

$primary-main: #5a2c62;
$primary-lighter: #813f8d;
$primary-darker: #3f1b46;

$accent-main: #15787a;
$accent-lighter: #1eacae;
$accent-darker: #0c5b5d;

$neutral-main: #2e2e2e;
$neutral-lighter: #595959;
$neutral-darker: #1d1d1d;

$success-main: #457a22;
$success-lighter: #66b332;
$success-darker: #2e5d14;

$danger-main: #b11515;
$danger-lighter: #e41b1b;
$danger-darker: #980c0c;

$warning-main: #ff8f00;
$warning-lighter: #ffc046;
$warning-darker: #c56000;

$colorless-mana: #cAc5c0;

$box-shadow-sm: 3px 3px 5px rgba($neutral-darker, 0.75);
$box-shadow-md: 6px 6px 10px rgba($neutral-darker, 0.75);
$box-shadow-lg: 12px 12px 16px rgba($neutral-darker, 0.75);


$font-family-header: 'Oxygen', sans-serif;
$font-family-body: 'Oxygen', sans-serif;
$font-family-mana: 'Cinzel', serif;
$font-family-fontawesome: "Font Awesome 5 Free", FontAwesome;
$font-size-default: 16px;
$font-size-smaller: 14px;
$font-size-bigger: 18px;

$font-size-sm-h1: 32px;
$font-size-sm-h2: 26px;
$font-size-sm-h3: 22px;
$font-size-sm-h4: 18px;

$font-size-md-h1: 40px;
$font-size-md-h2: 32px;
$font-size-md-h3: 24px;
$font-size-md-h4: 18px;

$font-size-lg-h1: 44px;
$font-size-lg-h2: 34px;
$font-size-lg-h3: 28px;
$font-size-lg-h4: 18px;

$dark-text: #1b1b1b;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);