﻿@import "_variables.scss";
@import "_mixins.scss";

.card-details {
    &-face {
        width: 100%;
    }

    .card {
        &-details-face {
            &.hidden {
                display: none;
            }
        }

        &-title {
            @include flex;
            flex-wrap: wrap;
            align-items: center;

            .card-name {
                flex: 1;
                min-width: fit-content;
            }

            .card-mana-cost {
                @include flex;
                gap: 0.25rem;
                background-color: $neutral-main;
                padding: 0.5rem;
                border-radius: $border-radius-default;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;

                &-icon {
                    width: 1.25rem;
                    height: 1.25rem;
                }

                @include media("lg") {
                    &-icon {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }
        }

        &-stats {
            font-size: $font-size-sm-h4;
            background-color: $neutral-main;
            padding: 0.25rem 1rem;
            border-radius: $border-radius-default;
            width: fit-content;

            @include media("lg") {
                font-size: $font-size-lg-h4;
            }
        }

        &-loyalty {
            font-size: $font-size-sm-h2;
            position: relative;
            margin-bottom: 2rem;

            &-value {
                position: relative;
                top: 0.5rem;
                left: 1.85rem;
            }

            &-background {
                position: absolute;
                top: 0;
                left: 0;
                height: 3rem;
            }
        }

        &-legalities {
            width: 100%;

            &-list {
                @include grid;
                grid-template-columns: 1fr;
                gap: 1rem 0.75rem;
                list-style-type: none;
                padding-left: 0;

                @include media("sm") {
                    grid-template-columns: 1fr 1fr;
                }

                &-item {
                    padding: 0.35em 0.5em;
                    border-radius: $border-radius-default;

                    &.legal {
                        background-color: $success-main;
                    }

                    &.not_legal {
                        background-color: $neutral-main;
                    }

                    &.restricted {
                        background-color: $warning-main;
                    }

                    &.banned {
                        background-color: $danger-main;
                    }
                }
            }

            &-legend {
                @include flex;
                flex-wrap: wrap;
                list-style-type: none;
                padding-left: 0;
                gap: 1rem;

                .legend-icon {
                    height: 1rem;
                    width: 1rem;
                    display: inline-block;

                    &.legal {
                        background-color: $success-main;
                    }

                    &.not_legal {
                        background-color: $neutral-main;
                    }

                    &.banned {
                        background-color: $danger-main;
                    }

                    &.restricted {
                        background-color: $warning-main;
                    }
                }
            }
        }

        &-image {
            height: auto;
            width: 100%;
            max-width: $card-max-width;
            border-radius: 5%;
            &.hidden {
                display: none;
            }
        }

        &-prices {
            &-foil {
                display: inline-flex;
                align-items: center;
                flex-wrap: nowrap;
            }
        }

        &-rulings {
            &-comment {
                word-break: break-word;
            }
        }
    }
}

.card-grid {
    @include grid;
    justify-content: center;
    grid-auto-rows: 1fr;
    gap: 30px;

    @include media("sm") {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include media("md") {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include media("lg") {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include media("xl") {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    &-item {
        @include flex;
        flex-direction: column;

        &-image {
            border-radius: 5%;
            width: 100%;
            height: auto;
        }

        &-prices {
            &-foil {
                display: inline-flex;
                align-items: center;
                flex-wrap: nowrap;
            }
        }
    }
}

.foil-icon {
    width: 1rem;
    height: 1rem;
    background-image: linear-gradient(-45deg, rgba(255, 0, 0, 0.75) 0%, rgba(208, 222, 33, 0.75) 20%, rgba(63, 218, 216, 0.75) 40%, rgba(28, 127, 238, 0.75) 60%, rgba(186, 12, 248, 0.75) 80%,rgba(255, 0, 0, 0.75) 100%);
    background-color: white;
    margin-left: 0.5rem;
}
