﻿.card-details-face {
  width: 100%;
}
.card-details .card-details-face.hidden {
  display: none;
}
.card-details .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.card-details .card-title .card-name {
  flex: 1;
  min-width: fit-content;
}
.card-details .card-title .card-mana-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 0.25rem;
  background-color: #2e2e2e;
  padding: 0.5rem;
  border-radius: 15px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.card-details .card-title .card-mana-cost-icon {
  width: 1.25rem;
  height: 1.25rem;
}
@media only screen and (min-width: 992px) {
  .card-details .card-title .card-mana-cost-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.card-details .card-stats {
  font-size: 18px;
  background-color: #2e2e2e;
  padding: 0.25rem 1rem;
  border-radius: 15px;
  width: fit-content;
}
@media only screen and (min-width: 992px) {
  .card-details .card-stats {
    font-size: 18px;
  }
}
.card-details .card-loyalty {
  font-size: 26px;
  position: relative;
  margin-bottom: 2rem;
}
.card-details .card-loyalty-value {
  position: relative;
  top: 0.5rem;
  left: 1.85rem;
}
.card-details .card-loyalty-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
}
.card-details .card-legalities {
  width: 100%;
}
.card-details .card-legalities-list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 0.75rem;
  list-style-type: none;
  padding-left: 0;
}
@media only screen and (min-width: 576px) {
  .card-details .card-legalities-list {
    grid-template-columns: 1fr 1fr;
  }
}
.card-details .card-legalities-list-item {
  padding: 0.35em 0.5em;
  border-radius: 15px;
}
.card-details .card-legalities-list-item.legal {
  background-color: #457a22;
}
.card-details .card-legalities-list-item.not_legal {
  background-color: #2e2e2e;
}
.card-details .card-legalities-list-item.restricted {
  background-color: #ff8f00;
}
.card-details .card-legalities-list-item.banned {
  background-color: #b11515;
}
.card-details .card-legalities-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  gap: 1rem;
}
.card-details .card-legalities-legend .legend-icon {
  height: 1rem;
  width: 1rem;
  display: inline-block;
}
.card-details .card-legalities-legend .legend-icon.legal {
  background-color: #457a22;
}
.card-details .card-legalities-legend .legend-icon.not_legal {
  background-color: #2e2e2e;
}
.card-details .card-legalities-legend .legend-icon.banned {
  background-color: #b11515;
}
.card-details .card-legalities-legend .legend-icon.restricted {
  background-color: #ff8f00;
}
.card-details .card-image {
  height: auto;
  width: 100%;
  max-width: 320px;
  border-radius: 5%;
}
.card-details .card-image.hidden {
  display: none;
}
.card-details .card-prices-foil {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}
.card-details .card-rulings-comment {
  word-break: break-word;
}

.card-grid {
  display: -ms-grid;
  display: grid;
  justify-content: center;
  grid-auto-rows: 1fr;
  gap: 30px;
}
@media only screen and (min-width: 576px) {
  .card-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 992px) {
  .card-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
.card-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.card-grid-item-image {
  border-radius: 5%;
  width: 100%;
  height: auto;
}
.card-grid-item-prices-foil {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}

.foil-icon {
  width: 1rem;
  height: 1rem;
  background-image: linear-gradient(-45deg, rgba(255, 0, 0, 0.75) 0%, rgba(208, 222, 33, 0.75) 20%, rgba(63, 218, 216, 0.75) 40%, rgba(28, 127, 238, 0.75) 60%, rgba(186, 12, 248, 0.75) 80%, rgba(255, 0, 0, 0.75) 100%);
  background-color: white;
  margin-left: 0.5rem;
}
