﻿@import '_variables.scss';
@import '_mixins.scss';

#deck-boards {
    .deck-board {
        &-table {
            width: 100%;
            border-collapse: collapse;

            &-item {
                @include transition($transition-100);
                break-inside: avoid;

                td {
                    padding-top: 0.25rem;
                    padding-bottom: 0.25rem;
                }
            }

            &-quantity {
                width: 2em;
                padding-left: 0.5em;
            }

            &-mana-cost {
                display: none;
            }

            &-context {
                display: none;
            }
        }
    }
}