﻿@import "_variables.scss";
@import "_mixins.scss";

.deck-grid {
    @include grid;
    grid-auto-rows: 1fr;
    gap: 30px;
    width: 100%;

    @include media("xl") {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &-item {
        @include flex;
        flex-direction: column;
        width: 100%;
        background-color: $neutral-main;

        &-image {
            @include transition($transition-200);
            overflow: hidden;
            display: block;
            height: 10rem;
            width: 100%;
            background-size: 120%;
            background-repeat: no-repeat;
            background-position: center 15%;
            position: relative;

            @include media("xl") {
                background-position: center 25%;
                height: 18rem;
            }

            &::before {
                @include transition($transition-200);
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, rgba(36,0,0,0) 50%, rgba($accent-main, $hover-opacity) 100%);
                background-position: left 0 top 100px;
                background-repeat: no-repeat;

                @include media("xl") {
                    background-image: linear-gradient(to bottom, rgba(36,0,0,0) 70%, rgba($accent-main, $hover-opacity) 100%);
                }
            }

            &:hover {
                &::before {
                    background-position: left 0 top 0;
                }

                background-size: 130%;
            }
        }

        &-content {
            padding: 0.5rem;
        }

        &-format {
            background-color: rgba($accent-main, $hover-opacity);
            width: fit-content;
            position: absolute;
            top: 0.75rem;
            right: 0.75rem;
            padding: 0.5rem;
        }
    }

    &-vertical {
        grid-template-columns: 1fr !important;

        .deck-grid-item-image {
            height: 10rem;
        }
    }
}

#latest-decks {
    @include media("md") {
        border-left: 1px solid $light-dividers;
    }

    .deck-grid-item-image::before {
        background-image: linear-gradient(to bottom, transparent 50%, rgba($accent-main, $hover-opacity) 100%) !important;
    }
}

#deck-details-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    height: 15rem;

    @include media("md") {
        height: 18rem;
    }

    @include media("lg") {
        background-position: center 35%;
        height: 22rem;
    }

    @include media("xl") {
        background-position: center 25%;
        height: 28rem;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 0.5rem); // Overflow for mobile to make sure there's no line after the gradient
        background-color: rgba($neutral-darker, $hover-opacity);
        background-image: linear-gradient(to bottom, transparent, $neutral-darker 96%);
    }

    .deck-format {
        background-color: rgba($accent-main, $hover-opacity);
        width: fit-content;
        padding: 0.5rem;
    }
}

#card-name-suggestions {
    display: none;
    background-color: darken($neutral-main, 3);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: $z-index-drawer - 1;
    max-height: calc(1.95rem * 10);
    scroll-behavior: smooth;
    overflow-y: auto;

    .card-suggestions-item {
        @include transition($transition-100);
        padding: 0.75rem 1rem;
        pointer-events: all;
        cursor: pointer;

        &:hover {
            background-color: $primary-darker;
        }
    }
}

#deck-boards {
    .deck-board {
        &-table {
            width: 100%;
            border-collapse: collapse;

            &-item {
                @include transition($transition-100);
                border-bottom: 1px solid $light-dividers !important;

                td {
                    padding-top: 0.75rem;
                    padding-bottom: 0.75rem;
                }

                &:hover {
                    background-color: $neutral-main;
                }
            }

            &-quantity {
                width: 2em;
                padding-left: 0.5em;
            }

            &-mana-cost {
                @include flex;
                gap: 0.25rem;
                width: fit-content;
                justify-content: flex-end;
                text-align: right;
                align-items: center;
                margin-right: 0.75rem;

                &-icon {
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }

            &-context {
                @include transition($transition-100);
                text-align: center;
                height: 0.75rem !important;
                width: 0.75rem;
                padding: 0.5rem;
                cursor: pointer;

                &:hover {
                    background-color: $accent-main;
                    opacity: 1;
                }
            }
        }
    }
}

#card-preview {
    display: none;

    @include media("md") {
        display: inherit;
    }

    .card-image {
        @include sticky(calc($navbar-height + 2rem));

        img {
            border-radius: 5%;
            height: auto;
            width: 100%;
            max-width: $card-max-width;
        }
    }
}

#deck-stats {
    .deck-stats {
        &-item {
            align-items: center;

            h4 {
                align-self: flex-start;
            }
        }

        &-canvas {
            width: 100%;
            max-width: 28rem;
        }
    }

    &-content-changed {
        display: none;
    }
}