﻿.deck-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
  gap: 30px;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .deck-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.deck-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #2e2e2e;
}
.deck-grid-item-image {
  transition: 200ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 200ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 200ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 200ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  overflow: hidden;
  display: block;
  height: 10rem;
  width: 100%;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center 15%;
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .deck-grid-item-image {
    background-position: center 25%;
    height: 18rem;
  }
}
.deck-grid-item-image::before {
  transition: 200ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 200ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 200ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 200ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(36, 0, 0, 0) 50%, rgba(90, 44, 98, 0.6) 100%);
  background-position: left 0 top 100px;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 1200px) {
  .deck-grid-item-image::before {
    background-image: linear-gradient(to bottom, rgba(36, 0, 0, 0) 70%, rgba(90, 44, 98, 0.6) 100%);
  }
}
.deck-grid-item-image:hover {
  background-size: 130%;
}
.deck-grid-item-image:hover::before {
  background-position: left 0 top 0;
}
.deck-grid-item-content {
  padding: 0.5rem;
}
.deck-grid-item-format {
  background-color: rgba(90, 44, 98, 0.6);
  width: fit-content;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.5rem;
}
.deck-grid-vertical {
  grid-template-columns: 1fr !important;
}
.deck-grid-vertical .deck-grid-item-image {
  height: 10rem;
}

@media only screen and (min-width: 768px) {
  #latest-decks {
    border-left: 1px solid rgba(255, 255, 255, 0.12);
  }
}
#latest-decks .deck-grid-item-image::before {
  background-image: linear-gradient(to bottom, transparent 50%, rgba(90, 44, 98, 0.6) 100%) !important;
}

#deck-details-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 15rem;
}
@media only screen and (min-width: 768px) {
  #deck-details-banner {
    height: 18rem;
  }
}
@media only screen and (min-width: 992px) {
  #deck-details-banner {
    background-position: center 35%;
    height: 22rem;
  }
}
@media only screen and (min-width: 1200px) {
  #deck-details-banner {
    background-position: center 25%;
    height: 28rem;
  }
}
#deck-details-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 0.5rem);
  background-color: rgba(29, 29, 29, 0.6);
  background-image: linear-gradient(to bottom, transparent, #1d1d1d 96%);
}
#deck-details-banner .deck-format {
  background-color: rgba(90, 44, 98, 0.6);
  width: fit-content;
  padding: 0.5rem;
}

#card-name-suggestions {
  display: none;
  background-color: #262626;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 3999;
  max-height: 19.5rem;
  scroll-behavior: smooth;
  overflow-y: auto;
}
#card-name-suggestions .card-suggestions-item {
  transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  padding: 0.75rem 1rem;
  pointer-events: all;
  cursor: pointer;
}
#card-name-suggestions .card-suggestions-item:hover {
  background-color: #0c5b5d;
}

#deck-boards .deck-board-table {
  width: 100%;
  border-collapse: collapse;
}
#deck-boards .deck-board-table-item {
  transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
}
#deck-boards .deck-board-table-item td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
#deck-boards .deck-board-table-item:hover {
  background-color: #2e2e2e;
}
#deck-boards .deck-board-table-quantity {
  width: 2em;
  padding-left: 0.5em;
}
#deck-boards .deck-board-table-mana-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 0.25rem;
  width: fit-content;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  margin-right: 0.75rem;
}
#deck-boards .deck-board-table-mana-cost-icon {
  width: 1.25rem;
  height: 1.25rem;
}
#deck-boards .deck-board-table-context {
  transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  text-align: center;
  height: 0.75rem !important;
  width: 0.75rem;
  padding: 0.5rem;
  cursor: pointer;
}
#deck-boards .deck-board-table-context:hover {
  background-color: #5a2c62;
  opacity: 1;
}

#card-preview {
  display: none;
}
@media only screen and (min-width: 768px) {
  #card-preview {
    display: inherit;
  }
}
#card-preview .card-image {
  position: -webkit-sticky;
  position: sticky;
  top: calc(75px + 2rem);
}
#card-preview .card-image img {
  border-radius: 5%;
  height: auto;
  width: 100%;
  max-width: 320px;
}

#deck-stats .deck-stats-item {
  align-items: center;
}
#deck-stats .deck-stats-item h4 {
  align-self: flex-start;
}
#deck-stats .deck-stats-canvas {
  width: 100%;
  max-width: 28rem;
}
#deck-stats-content-changed {
  display: none;
}
