﻿#deck-boards .deck-board-table {
  width: 100%;
  border-collapse: collapse;
}
#deck-boards .deck-board-table-item {
  transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  break-inside: avoid;
}
#deck-boards .deck-board-table-item td {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
#deck-boards .deck-board-table-quantity {
  width: 2em;
  padding-left: 0.5em;
}
#deck-boards .deck-board-table-mana-cost {
  display: none;
}
#deck-boards .deck-board-table-context {
  display: none;
}
