﻿.banner {
  background-image: url(../assets/images/banner-home.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100vh - 75px - 50px);
}
