﻿@import "_variables.scss";
@import "_mixins.scss";

.banner {
    background-image : url(../assets/images/banner-home.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: calc(100vh - $navbar-height - $footer-height);
}