﻿@import "_variables.scss";
@import "_mixins.scss";

#card-advanced-search-form {
    #colors {
        @include flex;
        flex-flow: row wrap;
        gap: 0.5rem;

        input[type=checkbox] {
            display: none;

            & + label {
                @include flex;
                @include transition($transition-100);
                border-radius: $border-radius-round;
                padding: 0.25rem;
                opacity: 0.4;
                margin-bottom: 0 !important;
                background-color: $light-dividers;

                img {
                    height: 2rem;
                    width: 2rem;
                }

                &:hover {
                    opacity: 1;
                }
            }

            &:checked + label {
                background-color: $primary-main;
                opacity: 1;
            }
        }
    }

    #cmc {
        @include flex;
        flex-flow: row wrap;
        gap: 0.5rem;

        input[type=radio] {
            display: none;

            & + label {
                @include flex;
                @include transition($transition-100);
                align-items: center;
                justify-content: center;
                border-radius: $border-radius-round;
                padding: 0.25rem;
                opacity: 0.4;
                margin-bottom: 0 !important;
                background-color: $light-dividers;

                span.value {
                    display: block;
                    text-align: center;
                    color: $neutral-darker;
                    font-size: 2rem;
                    font-family: $font-family-mana;
                    height: 2rem;
                    width: 2rem;
                    border-radius: $border-radius-round;
                    background-color: $colorless-mana;
                }

                &:hover {
                    opacity: 1;
                }
            }

            &:checked + label {
                background-color: $accent-main;
                opacity: 1;
            }
        }

        .form-group-radios-item {
            margin-bottom: 0;
        }
    }
}
