﻿#card-advanced-search-form #colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
#card-advanced-search-form #colors input[type=checkbox] {
  display: none;
}
#card-advanced-search-form #colors input[type=checkbox] + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  border-radius: 50%;
  padding: 0.25rem;
  opacity: 0.4;
  margin-bottom: 0 !important;
  background-color: rgba(255, 255, 255, 0.12);
}
#card-advanced-search-form #colors input[type=checkbox] + label img {
  height: 2rem;
  width: 2rem;
}
#card-advanced-search-form #colors input[type=checkbox] + label:hover {
  opacity: 1;
}
#card-advanced-search-form #colors input[type=checkbox]:checked + label {
  background-color: #15787a;
  opacity: 1;
}
#card-advanced-search-form #cmc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
#card-advanced-search-form #cmc input[type=radio] {
  display: none;
}
#card-advanced-search-form #cmc input[type=radio] + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.25rem;
  opacity: 0.4;
  margin-bottom: 0 !important;
  background-color: rgba(255, 255, 255, 0.12);
}
#card-advanced-search-form #cmc input[type=radio] + label span.value {
  display: block;
  text-align: center;
  color: #1d1d1d;
  font-size: 2rem;
  font-family: "Cinzel", serif;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #cAc5c0;
}
#card-advanced-search-form #cmc input[type=radio] + label:hover {
  opacity: 1;
}
#card-advanced-search-form #cmc input[type=radio]:checked + label {
  background-color: #5a2c62;
  opacity: 1;
}
#card-advanced-search-form #cmc .form-group-radios-item {
  margin-bottom: 0;
}
