﻿/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1d1d1d;
  font-size: 16px;
  color: #ffffff;
}

#main-container {
  margin-top: 75px;
  position: relative;
}

::-moz-selection { /* Code for Firefox */ }

::selection {
  color: #ffffff;
  background: rgba(30, 172, 174, 0.25);
}

hr {
  margin-top: 1.35rem;
  margin-bottom: 1.35rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.12);
}

.hr-light {
  border-bottom-color: rgba(255, 255, 255, 0.12);
}
.hr-dark {
  border-bottom-color: rgba(27, 27, 27, 0.12);
}
.hr-75 {
  width: 75%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-none {
  display: none;
}

.box-shadow-sm {
  box-shadow: 3px 3px 5px rgba(29, 29, 29, 0.75);
}
.box-shadow-md {
  box-shadow: 6px 6px 10px rgba(29, 29, 29, 0.75);
}
.box-shadow-lg {
  box-shadow: 12px 12px 16px rgba(29, 29, 29, 0.75);
}

.context-menu-root {
  padding: 0;
  box-shadow: 12px 12px 16px rgba(29, 29, 29, 0.75);
  font-size: 16px;
  width: 270px !important;
}

.context-menu-root, .context-menu-item {
  background-color: #2d2d2d;
  color: white;
  border: none;
  border-radius: 0;
  font-weight: 400 !important;
}

.context-menu-item {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  transition: 100ms ease-in-out;
}
.context-menu-item span {
  font-size: 16px;
  font-family: "Oxygen", sans-serif !important;
}

.context-menu-item:hover {
  background-color: #15787a;
}

.context-menu-icon::before {
  color: white !important;
}

.modal {
  transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  position: fixed;
  opacity: 0;
  pointer-events: none;
  z-index: 3999;
  background-color: rgba(255, 255, 255, 0.12);
  top: 75px;
  left: 0;
  right: 0;
  height: calc(100vh - 75px);
  backdrop-filter: blur(1px);
}
.modal > .container {
  transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  position: absolute;
  left: -100vw;
  top: 0;
  background-color: #1d1d1d;
  height: 100%;
  width: 80vw;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-y: auto;
}
@media only screen and (min-width: 768px) {
  .modal > .container {
    width: 50vw;
    max-width: 500px;
  }
}
.modal-close {
  position: absolute;
  z-index: 4000;
}
.modal.visible {
  opacity: 1;
  pointer-events: all;
}
.modal.visible > .container {
  left: 0;
}
.modal-large > .container {
  padding-top: 3rem;
}
@media only screen and (min-width: 768px) {
  .modal-large > .container {
    max-width: 750px;
  }
}

:root {
  font-family: "Oxygen", sans-serif;
}
:root h1, :root h2, :root h3, :root h4 {
  font-family: "Oxygen", sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.35em;
}
:root h1.title-bar, :root h2.title-bar, :root h3.title-bar, :root h4.title-bar {
  border-left: 2px solid #ffffff;
  padding-left: 0.5em;
}
:root h1 {
  font-size: 32px;
}
@media only screen and (min-width: 768px) {
  :root h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 992px) {
  :root h1 {
    font-size: 44px;
  }
}
:root h2 {
  font-size: 26px;
}
@media only screen and (min-width: 768px) {
  :root h2 {
    font-size: 32px;
  }
}
@media only screen and (min-width: 992px) {
  :root h2 {
    font-size: 34px;
  }
}
:root h3 {
  font-size: 22px;
}
@media only screen and (min-width: 768px) {
  :root h3 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) {
  :root h3 {
    font-size: 28px;
  }
}
:root h4 {
  font-size: 18px;
}
@media only screen and (min-width: 768px) {
  :root h4 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) {
  :root h4 {
    font-size: 18px;
  }
}
:root p {
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
:root p.subtitle {
  margin-top: 0 !important;
  font-size: 18px;
}
:root a {
  text-decoration: none;
  color: inherit;
}
:root a:visited, :root a:active {
  color: inherit;
}
:root .text-muted {
  opacity: 0.7;
}
:root .text-bigger {
  font-size: 18px;
}
:root .text-smaller {
  font-size: 14px;
}
:root .text-center {
  text-align: center;
}
:root .text-right {
  text-align: right;
}
:root .text-italic {
  font-style: italic;
}
:root .text-success {
  color: #457a22;
}
:root .text-warning {
  color: #ff8f00;
}
:root .text-danger, :root .text-error {
  color: #b11515;
}

.container {
  width: 94%;
  max-width: 1920px;
  box-sizing: border-box;
  margin: auto;
}
.container-fluid {
  width: 100%;
  max-width: unset;
}
.container-padded {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.row-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.row-align-center {
  align-items: center;
}
.row-justify-center {
  justify-content: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 0 15px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
}
.col-fluid {
  padding: 0 !important;
}
.col-flex-end {
  align-items: flex-end !important;
}
.col-flex-center {
  align-items: center !important;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  align-items: flex-start;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 1rem !important;
}
.m-2 {
  margin: 2rem !important;
}
.m-3 {
  margin: 3rem !important;
}
.m-4 {
  margin: 4rem !important;
}
.m-5 {
  margin: 5rem !important;
}
.m-auto {
  margin: auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.mb-4 {
  margin-bottom: 4rem !important;
}
.mb-5 {
  margin-bottom: 5rem !important;
}
.mb-auto {
  margin-bottom: auto;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mt-4 {
  margin-top: 4rem !important;
}
.mt-5 {
  margin-top: 5rem !important;
}
.mt-auto {
  margin-top: auto;
}

.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: 1rem !important;
}
.ml-2 {
  margin-left: 2rem !important;
}
.ml-3 {
  margin-left: 3rem !important;
}
.ml-4 {
  margin-left: 4rem !important;
}
.ml-5 {
  margin-left: 5rem !important;
}
.ml-auto {
  margin-left: auto;
}

.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
.mr-3 {
  margin-right: 3rem !important;
}
.mr-4 {
  margin-right: 4rem !important;
}
.mr-5 {
  margin-right: 5rem !important;
}
.mr-auto {
  margin-right: auto;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mx-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.mx-2 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
.mx-3 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}
.mx-4 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}
.mx-5 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.my-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.my-5 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}
.my-auto {
  margin-top: auto;
  margin-block: auto;
}

.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 1rem !important;
}
.p-2 {
  padding: 2rem !important;
}
.p-3 {
  padding: 3rem !important;
}
.p-4 {
  padding: 4rem !important;
}
.p-5 {
  padding: 5rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-1 {
  padding-bottom: 1rem !important;
}
.pb-2 {
  padding-bottom: 2rem !important;
}
.pb-3 {
  padding-bottom: 3rem !important;
}
.pb-4 {
  padding-bottom: 4rem !important;
}
.pb-5 {
  padding-bottom: 5rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}
.pt-1 {
  padding-top: 1rem !important;
}
.pt-2 {
  padding-top: 2rem !important;
}
.pt-3 {
  padding-top: 3rem !important;
}
.pt-4 {
  padding-top: 4rem !important;
}
.pt-5 {
  padding-top: 5rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.pl-1 {
  padding-left: 1rem !important;
}
.pl-2 {
  padding-left: 2rem !important;
}
.pl-3 {
  padding-left: 3rem !important;
}
.pl-4 {
  padding-left: 4rem !important;
}
.pl-5 {
  padding-left: 5rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}
.pr-1 {
  padding-right: 1rem !important;
}
.pr-2 {
  padding-right: 2rem !important;
}
.pr-3 {
  padding-right: 3rem !important;
}
.pr-4 {
  padding-right: 4rem !important;
}
.pr-5 {
  padding-right: 5rem !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.px-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.px-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.px-3 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.px-4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}
.px-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.py-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
.py-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.w-auto {
  width: auto;
}
.w-fit {
  width: fit-content;
}
.w-100 {
  width: 100% !important;
  box-sizing: border-box;
}
.w-75 {
  width: 75% !important;
  box-sizing: border-box;
}
.w-50 {
  width: 50% !important;
  box-sizing: border-box;
}
.w-25 {
  width: 25% !important;
  box-sizing: border-box;
}
.w-15 {
  width: 15% !important;
  box-sizing: border-box;
}

.h-auto {
  height: auto;
}
.h-fit {
  height: fit-content;
}
.h-100 {
  height: 100% !important;
}
.h-75 {
  height: 75% !important;
}
.h-50 {
  height: 50% !important;
}
.h-25 {
  height: 25% !important;
}
.h-15 {
  height: 15% !important;
}

.btn {
  transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background-color: #2e2e2e !important;
  font-size: 16px;
  padding: 0.5em 1em;
  border-radius: 13.5px;
  width: fit-content;
  cursor: pointer;
}
.btn > i {
  margin-right: 0.5rem;
}
.btn-round {
  border-radius: 50%;
}
.btn-center {
  text-align: center;
}
.btn-small {
  font-size: 0.9rem;
  border-radius: 11.25px;
}
.btn-large {
  font-size: 1.35rem;
  border-radius: 17.25px;
}
.btn-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1em;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .btn-grid {
    flex-direction: row;
  }
}
.btn-grid-center {
  justify-content: center;
}
.btn-grid-vertical {
  flex-direction: column;
  align-items: flex-start;
}
.btn-grid-vertical.btn-grid-center {
  align-items: center;
}
.btn:hover {
  background-color: #595959 !important;
}
.btn-primary {
  background-color: #5a2c62 !important;
}
.btn-primary:hover {
  background-color: #813f8d !important;
}
.btn-accent {
  background-color: #15787a !important;
}
.btn-accent:hover {
  background-color: #1eacae !important;
}
.btn-success {
  background-color: #457a22 !important;
}
.btn-success:hover {
  background-color: #66b332 !important;
}
.btn-warning {
  background-color: #ff8f00 !important;
}
.btn-warning:hover {
  background-color: #ffc046 !important;
}
.btn-danger {
  background-color: #b11515 !important;
}
.btn-danger:hover {
  background-color: #e41b1b !important;
}
.btn:disabled, .btn-disabled {
  background-color: #595959 !important;
}

input.btn {
  width: unset;
  border: 2px solid transparent !important;
  color: white;
  justify-content: center;
  align-items: center;
}
input.btn:focus {
  border-color: #15787a !important;
}
input.btn.btn-accent:focus {
  border-color: #813f8d !important;
}

#navbar-toggle {
  margin-right: 2rem;
  margin-left: 1.5em;
}
#navbar-toggle .navbar-icon {
  font-size: 1.25rem;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background-color: #5a2c62;
  color: #ffffff;
  height: 75px;
  z-index: 5000;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.navbar-content .site-logo {
  display: none;
}
@media only screen and (min-width: 576px) {
  .navbar-content .site-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }
}
.navbar-content .site-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.navbar-content .site-logo a img {
  height: 37.5px;
  width: auto;
}
.navbar-links {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-icon {
  display: flex !important;
  transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  align-items: center;
  justify-content: center;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  padding: 0.75rem;
}
.navbar-icon:hover {
  color: #5a2c62;
  background-color: #ffffff;
}

#navbar-main .navbar-item {
  margin-left: 1rem;
}
#navbar-main .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#navbar-drawer {
  transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  background-color: #1d1d1d;
  position: absolute;
  top: 75px;
  left: -100vw;
  width: 100vw;
  opacity: 0;
  height: calc(100vh - 75px);
  z-index: 4000;
}
@media only screen and (min-width: 768px) {
  #navbar-drawer {
    width: 320px;
  }
}
#navbar-drawer.opened {
  left: 0;
  opacity: 1;
}
#navbar-drawer .navbar-item {
  transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  background-color: #15787a;
}
#navbar-drawer .navbar-item:hover {
  padding-left: 0.75rem;
}
#navbar-drawer .navbar-item:hover .navbar-link {
  opacity: 0.85;
}
#navbar-drawer .navbar-item a {
  transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 1em 1em 1em 1.15em;
  text-align: right;
  background-color: #1d1d1d;
}
#navbar-drawer .navbar-item a i {
  margin-right: 1em;
}
#navbar-drawer .navbar-links {
  margin-left: 0;
  padding-left: 0;
}

#navbar-overlay {
  transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 350ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  background-color: rgba(255, 255, 255, 0.12);
  position: absolute;
  top: 75px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 75px);
  pointer-events: none;
  opacity: 0;
  backdrop-filter: blur(1px);
}
#navbar-overlay.visible {
  pointer-events: all;
  opacity: 1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background-color: #5a2c62;
  margin-top: auto;
  height: 50px;
}
footer .copyrights {
  font-size: 0.85rem;
  font-weight: 100;
  text-align: right;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.form .row .row {
  width: 100%;
}
.form .row .form-group {
  width: 100%;
}
.form input, .form textarea, .form select {
  transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  border: 0;
  border-bottom: 2px solid transparent;
  outline: none;
  padding: 0.75rem 1rem;
  background-color: #2e2e2e;
  color: #ffffff;
  width: 100%;
  max-width: 28.125rem;
  box-sizing: border-box;
}
.form input:focus, .form textarea:focus, .form select:focus {
  border-color: #15787a;
}
.form label {
  margin-bottom: 0.5rem;
}
.form select {
  padding-left: 2.5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg height='24' viewBox='0 0 24 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='#FFFFFF'/></g></svg>") !important;
  background-position-x: 100%;
  background-position-y: 5px;
}
.form textarea {
  resize: none;
}
.form input[type=text] {
  width: auto;
}
.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}
.form-group-checkboxes {
  justify-content: flex-start;
  border-bottom: 2px solid transparent;
}
.form-group-checkboxes-item input {
  -webkit-appearance: none;
  appearance: none;
  background-color: #2e2e2e;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1rem;
  height: 1rem;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  border: none;
  padding: 0.75rem;
}
.form-group-checkboxes-item input::before {
  transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -moz-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -o-transition: 100ms cubic-bezier(0.26, 0.53, 0.6, 0.93);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  content: "";
  width: 0.85rem;
  height: 0.85rem;
  background-color: #15787a;
}
.form-group-checkboxes-item input:checked::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.form-group-checkboxes-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  grid-template-columns: 2.5rem auto;
  align-items: center;
  gap: 0.5em;
  align-items: center;
  gap: 1rem;
}
.form-group-radios {
  justify-content: flex-start;
  border-bottom: 2px solid transparent;
}
.form-group-radios-item {
  margin-bottom: 1rem;
}
.form-group-search {
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.form-group-search-button {
  width: fit-content !important;
}
.form-group-search input[type=text] {
  width: 100% !important;
  max-width: unset;
}
.form-vertical {
  flex-direction: column;
}
.form #form-errors {
  display: none;
}
.form #form-errors .message {
  position: relative;
  color: #e41b1b;
  border: 2px solid #e41b1b;
  overflow: visible;
}
.form #form-errors .message::before {
  overflow: visible;
  content: "\f00d";
  font-family: "Font Awesome 5 Free", FontAwesome;
  position: absolute;
  left: -0.65em;
  font-size: larger;
  background-color: #1d1d1d;
  padding: 0 0.5rem;
}

.select-arrow {
  position: relative;
}
.select-arrow:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\f03a";
  font-family: "Font Awesome 5 Free", FontAwesome;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 100;
  position: absolute;
  left: 2px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: fit-content;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
  padding: 0 0.75rem;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background-color: #595959;
  border-radius: 15px;
  border: 4px solid #2e2e2e;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(27, 27, 27, 0.54);
  border-radius: 15px;
  border: 4px solid #2e2e2e;
}
