﻿@model DeckbuilderWeb.ViewModels.Account.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}

<div class="container container-padded">
    <div class="row">
        <div class="col">
            <h2>@ViewData["Title"]</h2>
            <div>
                <h3>@Model.Name</h3>
                <p>
                    <i class="fa-solid fa-envelope"></i> @Model.EmailAddress
                </p>
            </div>
            <a asp-controller=Decks asp-action=Index class="btn btn-primary my-1">View my decks</a>
        </div>
    </div>
</div>