﻿@using DeckbuilderWeb.ViewModels.Cards
@model DeckbuilderWeb.ViewModels.Cards.CardListViewModel

@section FormScripts {
<script src="~/js/cardsearch.js" asp-append-version="false"></script>
}

@if (Model != null)
{
    <h2>Search results</h2>
    @if (Model.Cards != null && Model.TotalCards > 0)
    {
        <p class="text-muted">Showing @Model.Cards.Count out of @Model.TotalCards results</p>
        <div class="card-grid" id="card-search-results">
            @foreach (CardListItemViewModel card in Model.Cards)
            {
                <div class="card-grid-item">
                    <a asp-controller=Cards asp-action=Details asp-route-id=@card.Id>
                        @if (card.IsReversible)
                        {
                            <img src="@card.CardFaces.First().ImageUris.Normal" alt="" class="card-grid-item-image" />
                        }
                        else
                        {
                            <img src="@card.ImageUris.Normal" alt="" class="card-grid-item-image" />
                        }
                    <p class="text-center text-muted card-grid-item-name">@card.Name (@card.SetCode.ToUpper())</p>
                    </a>

                    @if (card.Prices != null)
                    {
                        <div class="card-grid-item-prices mb-1 text-center">
                            @if (!String.IsNullOrEmpty(card.Prices.Usd))
                            {
                                <span>$@card.Prices.Usd</span>
                            }
                            @if (!String.IsNullOrEmpty(card.Prices.Usd) && !String.IsNullOrEmpty(card.Prices.UsdFoil))
                            {
                                <span> / </span>
                            }
                            @if (!String.IsNullOrEmpty(card.Prices.UsdFoil))
                            {
                                <div class="card-grid-item-prices-foil">$@card.Prices.UsdFoil <i class="foil-icon"></i></div>
                            }
                            @if (!String.IsNullOrEmpty(card.Prices.Tix))
                            {
                                <span class="text-muted">(@card.Prices.Tix TIX)</span>
                            }
                        </div>
                    }
                </div>
            }
        </div>
        @if (Model.HasMore)
        {
            <div class="row w-100">
                <div class="btn-grid btn-grid-center mx-auto">
                    <form method="post" id="card-next-page-form">
                        @{
                            string nextpage = @Model.NextPage.Split("?")[1];
                        }
                        <input type="hidden" value="@nextpage" id="next-page" />
                        <input value="Load more" type="submit" class="btn btn-primary px-3 py-1" />
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <p class="text-muted">Your search has returned no results.</p>
    }
}