﻿@using DeckbuilderWeb.Models.Cards
@using DeckbuilderWeb.Models.Catalogs
@using DeckbuilderWeb.ViewModels.Cards
@model DeckbuilderWeb.ViewModels.Cards.CardViewModel

@{
    ViewData["Title"] = @Model.Name;
    CardFaceViewModel? cardFaceFirst = null;
    CardFaceViewModel? cardFaceLast = null;

    if (Model.IsMultifaced)
    {
        cardFaceFirst = Model.CardFaces.First();
        cardFaceLast = Model.CardFaces.Last();
    }
}

@section Styles {
<link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
}

@section Scripts {
<script type="text/javascript" src="~/js/card.js"></script>
}

<div class="container container-padded card-details">
    <div class="row row-wrap-reverse">
        <div class="col-sm-12 col-md-7">
            <!-- Normal -->
            @if (!Model.IsMultifaced && !Model.IsReversible)
            {
                <section class="card-details-face">
                    <div class="card-title w-100">
                        <h1 class="card-name mb-0 mr-2">@Model.Name</h1>
                        @if (!String.IsNullOrEmpty(Model.ManaCost))
                        {
                            <div class="card-mana-cost">
                                @foreach (string s in Symbology.ParseSymbols(Model.ManaCost))
                                {
                                    <img src="@s" class="card-mana-cost-icon" />
                                }
                            </div>
                        }
                    </div>
                    <p class="text-muted">@Model.TypeLine</p>
                    <p>@Model.OracleText</p>
                    <p class="text-muted">@Model.FlavorText</p>
                    @if (Model.TypeLine.Contains("creature", StringComparison.OrdinalIgnoreCase))
                    {
                        <p class="card-stats">
                            @Model.Power / @Model.Toughness
                        </p>
                    }
                    else if (Model.TypeLine.Contains("planeswalker", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="card-loyalty">
                            <img class="card-loyalty-background" fill="" src="~/assets/images/loyalty.svg" />
                            <div class="card-loyalty-value">@Model.Loyalty</div>
                        </div>
                    }
                </section>
            }

            <!-- Split / Flip -->
            @if (Model.IsMultifaced && !Model.IsReversible)
            {
                <section class="card-details-face card-details-face-front">
                    <div class="card-title w-100">
                        <h1 class="card-name mb-0 mr-2">@cardFaceFirst.Name</h1>
                        @if (!String.IsNullOrEmpty(cardFaceFirst.ManaCost))
                        {
                            <div class="card-mana-cost">
                                @foreach (string s in Symbology.ParseSymbols(cardFaceFirst.ManaCost))
                                {
                                    <img src="@s" class="card-mana-cost-icon" />
                                }
                            </div>
                        }
                    </div>
                    <p class="text-muted">@cardFaceFirst.TypeLine</p>

                    <p>@cardFaceFirst.OracleText</p>
                    <p class="text-muted">@cardFaceFirst.FlavorText</p>
                    @if (cardFaceFirst.TypeLine.Contains("creature", StringComparison.OrdinalIgnoreCase))
                    {
                        <p class="card-stats">
                            @cardFaceFirst.Power / @cardFaceFirst.Toughness
                        </p>
                    }
                    else if (cardFaceFirst.TypeLine.Contains("planeswalker", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="card-loyalty">
                            <img class="card-loyalty-background" fill="" src="~/assets/images/loyalty.svg" />
                            <div class="card-loyalty-value">@cardFaceFirst.Loyalty</div>
                        </div>
                    }
                </section>

                <hr class="hr-light" />

                <section class="card-details-face card-details-face-back">
                    <div class="card-title w-100">
                        <h1 class="card-name mb-0 mr-2">@cardFaceLast.Name</h1>
                        @if (!String.IsNullOrEmpty(cardFaceLast.ManaCost))
                        {
                            <div class="card-mana-cost">
                                @foreach (string s in Symbology.ParseSymbols(cardFaceLast.ManaCost))
                                {
                                    <img src="@s" class="card-mana-cost-icon" />
                                }
                            </div>
                        }
                    </div>
                    <p class="text-muted">@cardFaceLast.TypeLine</p>

                    <p>@cardFaceLast.OracleText</p>
                    <p class="text-muted">@cardFaceLast.FlavorText</p>
                    @if (cardFaceLast.TypeLine.Contains("creature", StringComparison.OrdinalIgnoreCase))
                    {
                        <p class="card-stats">
                            @cardFaceLast.Power / @cardFaceLast.Toughness
                        </p>
                    }
                    else if (cardFaceLast.TypeLine.Contains("planeswalker", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="card-loyalty">
                            <img class="card-loyalty-background" fill="" src="~/assets/images/loyalty.svg" />
                            <div class="card-loyalty-value">@cardFaceLast.Loyalty</div>
                        </div>
                    }
                </section>
            }

            <!-- Transform / Modal DFC -->
            @if (Model.IsMultifaced && Model.IsReversible)
            {
                <section class="card-details-face card-details-face-front">
                    <div class="card-title w-100">
                        <h1 class="card-name mb-0 mr-2">@cardFaceFirst.Name</h1>
                        @if (!String.IsNullOrEmpty(cardFaceFirst.ManaCost))
                        {
                            <div class="card-mana-cost">
                                @foreach (string s in Symbology.ParseSymbols(cardFaceFirst.ManaCost))
                                {
                                    <img src="@s" class="card-mana-cost-icon" />
                                }
                            </div>
                        }
                    </div>
                    <p class="text-muted">@cardFaceFirst.TypeLine</p>
                    <p>@cardFaceFirst.OracleText</p>
                    <p class="text-muted">@cardFaceFirst.FlavorText</p>
                    @if (cardFaceFirst.TypeLine.Contains("creature", StringComparison.OrdinalIgnoreCase))
                    {
                        <p class="card-stats">
                            @cardFaceFirst.Power / @cardFaceFirst.Toughness
                        </p>
                    }
                    else if (cardFaceFirst.TypeLine.Contains("planeswalker", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="card-loyalty">
                            <img class="card-loyalty-background" fill="" src="~/assets/images/loyalty.svg" />
                            <div class="card-loyalty-value">@cardFaceFirst.Loyalty</div>
                        </div>
                    }
                </section>

                <section class="card-details-face card-details-face-back hidden">
                    <div class="card-title w-100">
                        <h1 class="card-name mb-0 mr-2">@cardFaceLast.Name</h1>
                        @if (!String.IsNullOrEmpty(cardFaceLast.ManaCost))
                        {
                            <div class="card-mana-cost">
                                @foreach (string s in Symbology.ParseSymbols(cardFaceLast.ManaCost))
                                {
                                    <img src="@s" class="card-mana-cost-icon" />
                                }
                            </div>
                        }
                    </div>
                    <p class="text-muted">@cardFaceLast.TypeLine</p>
                    <p>@cardFaceLast.OracleText</p>
                    <p class="text-muted">@cardFaceLast.FlavorText</p>
                    @if (cardFaceLast.TypeLine.Contains("creature", StringComparison.OrdinalIgnoreCase))
                    {
                        <p class="card-stats">
                            @cardFaceLast.Power / @cardFaceLast.Toughness
                        </p>
                    }
                    else if (cardFaceLast.TypeLine.Contains("planeswalker", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="card-loyalty">
                            <img class="card-loyalty-background" fill="" src="~/assets/images/loyalty.svg" />
                            <div class="card-loyalty-value">@cardFaceLast.Loyalty</div>
                        </div>
                    }
                </section>
                <div class="btn btn-primary mt-1 card-face-toggle"><i class="fa-solid fa-arrows-rotate"></i> Flip</div>
            }

            <hr class="hr-light" />
            <div class="row">
                <div class="col-sm-12 col-xl-8 card-legalities">
                    <h3 class="title-bar">Legalities</h3>
                    <ul class="card-legalities-list w-100 mb-1">
                        <li class="card-legalities-list-item @Model.Legalities.Standard">Standard</li>
                        <li class="card-legalities-list-item @Model.Legalities.Gladiator">Gladiator</li>
                        <li class="card-legalities-list-item @Model.Legalities.Modern">Modern</li>
                        <li class="card-legalities-list-item @Model.Legalities.Pauper">Pauper</li>
                        <li class="card-legalities-list-item @Model.Legalities.Penny">Penny</li>
                        <li class="card-legalities-list-item @Model.Legalities.Brawl">Brawl</li>
                        <li class="card-legalities-list-item @Model.Legalities.Alchemy">Alchemy</li>
                        <li class="card-legalities-list-item @Model.Legalities.Duel">Duel</li>
                        <li class="card-legalities-list-item @Model.Legalities.Historic">Historic</li>
                        <li class="card-legalities-list-item @Model.Legalities.Pioneer">Pioneer</li>
                        <li class="card-legalities-list-item @Model.Legalities.Legacy">Legacy</li>
                        <li class="card-legalities-list-item @Model.Legalities.Vintage">Vintage</li>
                        <li class="card-legalities-list-item @Model.Legalities.Commander">Commander / EDH</li>
                        <li class="card-legalities-list-item @Model.Legalities.Historicbrawl">Historic Brawl</li>
                        <li class="card-legalities-list-item @Model.Legalities.Paupercommander">Pauper EDH</li>
                        <li class="card-legalities-list-item @Model.Legalities.Oldschool">Oldschool</li>
                    </ul>
                    <ul class="card-legalities-legend mb-3">
                        <li class="card-legalities-legend-item">
                            <i class="legend-icon legal"></i> Legal
                        </li>
                        <li class="card-legalities-legend-item">
                            <i class="legend-icon not_legal"></i> Not legal
                        </li>
                        <li class="card-legalities-legend-item">
                            <i class="legend-icon banned"></i> Banned
                        </li>
                        <li class="card-legalities-legend-item">
                            <i class="legend-icon restricted"></i> Restricted
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="card-useful-links btn-grid btn-grid-vertical">
                        <h3 class="title-bar">Useful links</h3>
                        @if (!string.IsNullOrEmpty(Model.RelatedUris.Edhrec))
                        {
                            <a class="btn btn-neutral" href="@Model.RelatedUris.Edhrec" target="_blank">View on EDHREC</a>
                        }
                    </div>
                </div>
            </div>
            <hr class="hr-light" />
            <div class="row">

                <div class="card-rulings col-sm-12">
                    <h3 class="title-bar">Rulings</h3>
                    @if (Model.Rulings == null || Model.Rulings.Rules.Count == 0)
                    {
                        <p class="text-muted">No rulings for this card.</p>
                    }
                    else
                    {
                        @foreach (Rule rule in Model.Rulings.Rules)
                        {
                            <div class="card-rule mb-2">
                                <div class="card-rulings-date">
                                    <p class="text-muted text-smaller">@rule.PublishedAt.ToShortDateString()</p>
                                </div>
                                <div class="card-rulings-comment">
                                    <p>@rule.Comment</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-flex-center mb-3">
            <!-- Normal -->
            @if (!Model.IsMultifaced && !Model.IsReversible)
            {
                <img class="card-image" src="@Model.ImageUris.Png" />
                <div class="card-set">
                    <p class="text-muted">@Model.SetName (@Model.SetCode.ToUpper())</p>
                </div>
            }

            <!-- Split / Flip -->
            @if (Model.IsMultifaced && !Model.IsReversible)
            {
                <img class="card-image" src="@Model.ImageUris.Png" />
                <div class="card-set">
                    <p class="text-muted">@Model.SetName (@Model.SetCode.ToUpper())</p>
                </div>
            }

            <!-- Transform / Modal DFC -->
            @if (Model.IsMultifaced && Model.IsReversible)
            {
                <img class="card-image card-image-face-front" src="@cardFaceFirst.ImageUris.Png" />
                <img class="card-image card-image-face-back hidden" src="@cardFaceLast.ImageUris.Png" />
                <div class="btn btn-primary mt-1 card-face-toggle"><i class="fa-solid fa-arrows-rotate"></i> Flip</div>
                <div class="card-set">
                    <p class="text-muted">@Model.SetName (@Model.SetCode.ToUpper())</p>
                </div>
            }
            @if (@Model.Prices != null)
            {
                <div class="card-prices mb-1">
                    @if (!String.IsNullOrEmpty(Model.Prices.Usd))
                    {
                        <span>$@Model.Prices.Usd</span>
                    }
                    @if (!String.IsNullOrEmpty(Model.Prices.Usd) && !String.IsNullOrEmpty(Model.Prices.UsdFoil))
                    {
                        <span> / </span>
                    }
                    @if (!String.IsNullOrEmpty(Model.Prices.UsdFoil))
                    {
                        <div class="card-prices-foil">$@Model.Prices.UsdFoil <i class="foil-icon"></i></div>
                    }
                    @if (!String.IsNullOrEmpty(Model.Prices.Tix))
                    {
                        <span class="text-muted">(@Model.Prices.Tix TIX)</span>
                    }
                </div>
            }
            @*
                @if (@Model.PurchaseUris != null)
                {
                <div class="card-purchase-links btn-grid btn-grid-vertical btn-grid-center">
                @if (!String.IsNullOrEmpty(Model.PurchaseUris.Tcgplayer))
                {
                <a class="card-purchase-links-item tcgplayer btn btn-accent" href="@Model.PurchaseUris.Tcgplayer" target="_blank">Buy on TCGplayer</a>
                }
                @if (!String.IsNullOrEmpty(Model.PurchaseUris.Cardhoarder))
                {
                <a class="card-purchase-links-item cardhoarder btn btn-accent" href="@Model.PurchaseUris.Cardhoarder" target="_blank">Buy on Card Hoarder</a>
                }
                @if (!String.IsNullOrEmpty(Model.PurchaseUris.Cardmarket))
                {
                <a class="card-purchase-links-item cardmarket btn btn-accent" href="@Model.PurchaseUris.Cardmarket" target="_blank">Buy on Cardmarket</a>
                }
                </div>
                }*@
        </div>
    </div>
</div>
