﻿@using DeckbuilderWeb.Models.Catalogs
@{
    ViewData["Title"] = "Advanced search";
}

@section Styles {
<link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
}

@section FormScripts {
<script src="~/js/cardsearch.js" asp-append-version="false"></script>
}

<div class="container container-padded">
    <div class="row mb-1">
        <div class="col">
            <h1>Advanced search</h1>
        </div>
    </div>
    <form method="post" id="card-advanced-search-form" class="form form-vertical w-100" autocomplete="off">
        <div class="row">
            <div class="col">
                <h3 class="title-bar">Card</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="row">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" maxlength="50" name="name" placeholder="Search by name..." />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-group-select">
                        <label for="card-type">Card types</label>
                        <span class="select-arrow">
                            <select id="card-type" name="card_type">
                                <option disabled selected>Select an option</option>
                                <option value="artifact">Artifact</option>
                                <option value="creature">Creature</option>
                                <option value="enchantment">Enchantment</option>
                                <option value="instant">Instant</option>
                                <option value="land">Land</option>
                                <option value="planeswalker">Planeswalker</option>
                                <option value="sorcery">Sorcery</option>
                                <option value="">None</option>
                            </select>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="card-type-others">Additionnal types</label>
                        <input type="text" id="card-types-others" maxlength="100" name="card_types_others" placeholder="Add more types..." />
                    </div>
                    <div class="form-group form-group-select">
                        <label for="card-type">Format</label>
                        <span class="select-arrow">
                            <select id="format" name="format">
                                <option disabled selected>Select an option</option>
                                <option value="standard">Standard</option>
                                <option value="modern">Modern</option>
                                <option value="penny">Penny</option>
                                <option value="legacy">Legacy</option>
                                <option value="commander">Commander / EDH</option>
                                <option value="paupercommander">Pauper EDH</option>
                                <option value="pauper">Pauper</option>
                                <option value="brawl">Brawl</option>
                                <option value="duel">Duel</option>
                                <option value="pioneer">Pioneer</option>
                                <option value="vintage">Vintage</option>
                                <option value="historicbrawl">Historic Brawl</option>
                                <option value="oldschool">Oldschool</option>
                                <option value="">None</option>
                            </select>
                        </span>
                    </div>
                    <div class="form-group form-group-checkboxes">
                        <div class="form-group-checkboxes-item">
                            <label>
                                <input type="checkbox" id="commander" name="commander" />
                                Can be your commander
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 col-xl-6">
                <div class="row">
                    <div class="form-group">
                        <label for="card-type-others">Oracle text</label>
                        <input type="text" id="oracle" maxlength="100" name="oracle" placeholder="Search by card text..." />
                    </div>
                    <label>Color</label>
                    <div class="form-group form-group-checkboxes" id="colors">
                        <div class="form-group-checkboxes-item">
                            <input type="checkbox" id="color-w" name="color_w" value="w" />
                            <label for="color-w">
                                <img src="@Symbology.GetSvgForSymbol("W")" />
                            </label>
                        </div>
                        <div class="form-group-checkboxes-item">
                            <input type="checkbox" id="color-u" name="color_u" value="u" />
                            <label for="color-u">
                                <img src="@Symbology.GetSvgForSymbol("U")" />
                            </label>
                        </div>
                        <div class="form-group-checkboxes-item">
                            <input type="checkbox" id="color-b" name="color_b" value="b" />
                            <label for="color-b">
                                <img src="@Symbology.GetSvgForSymbol("B")" />
                            </label>
                        </div>
                        <div class="form-group-checkboxes-item">
                            <input type="checkbox" id="color-r" name="color_r" value="r" />
                            <label for="color-r">
                                <img src="@Symbology.GetSvgForSymbol("R")" />
                            </label>
                        </div>
                        <div class="form-group-checkboxes-item">
                            <input type="checkbox" id="color-g" name="color_w" value="g" />
                            <label for="color-g">
                                <img src="@Symbology.GetSvgForSymbol("G")" />
                            </label>
                        </div>
                        <div class="form-group-checkboxes-item">
                            <input type="checkbox" id="color-c" name="color_c" value="c" />
                            <label for="color-c">
                                <img src="@Symbology.GetSvgForSymbol("C")" />
                            </label>
                        </div>
                        <div class="form-group-checkboxes-item">
                            <input type="checkbox" id="color-m" name="color_m" value="m" />
                            <label for="color-m">
                                <img src="@Symbology.GetSvgForSymbol("M")" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="color-match">Color matching</label>
                    <div class="form-group form-group-select">
                        <span class="select-arrow">
                            <select id="color-match" name="color-match">
                                <option value="c=" selected>Exact match </option>
                                <option value="id:">Commander identity</option>
                                <option value="c>=">Include selected </option>
                                <option value="c<=">Exclude others </option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <label>Mana value</label>
                    <div class="form-group form-group-radios" id="cmc">
                        <div class="form-group-radios-item">
                            <input type="radio" id="cmc-0" name="cmc" value="0" />
                            <label for="cmc-0">
                                <span class="value">0</span>
                            </label>
                        </div>
                        <div class="form-group-radios-item">
                            <input type="radio" id="cmc-1" name="cmc" value="1" />
                            <label for="cmc-1">
                                <span class="value">1</span>
                            </label>
                        </div>
                        <div class="form-group-radios-item">
                            <input type="radio" id="cmc-2" name="cmc" value="2" />
                            <label for="cmc-2">
                                <span class="value">2</span>
                            </label>
                        </div>
                        <div class="form-group-radios-item">
                            <input type="radio" id="cmc-3" name="cmc" value="3" />
                            <label for="cmc-3">
                                <span class="value">3</span>
                            </label>
                        </div>
                        <div class="form-group-radios-item">
                            <input type="radio" id="cmc-4" name="cmc" value="4" />
                            <label for="cmc-4">
                                <span class="value">4</span>
                            </label>
                        </div>
                        <div class="form-group-radios-item">
                            <input type="radio" id="cmc-5" name="cmc" value="5" />
                            <label for="cmc-5">
                                <span class="value">5</span>
                            </label>
                        </div>
                        <div class="form-group-radios-item">
                            <input type="radio" id="cmc-6" name="cmc" value="6" />
                            <label for="cmc-6">
                                <span class="value">6</span>
                            </label>
                        </div>
                        <div class="form-group-radios-item">
                            <input type="radio" id="cmc-7" name="cmc" value="7" />
                            <label for="cmc-7">
                                <span class="value">7</span>
                            </label>
                        </div>
                        <div class="form-group-radios-item">
                            <input type="radio" id="cmc-plus" name="cmc" value="+" />
                            <label for="cmc-plus">
                                <span class="value"><i class="fa-solid fa-plus fa-xs"></i></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="title-bar">Sorting</h3>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="row">
                    <div class="form-group form-group-select">
                        <label for="orderby">Order by</label>
                        <span class="select-arrow">
                            <select id="orderby" name="orderby">
                                <option disabled selected>Select an option</option>
                                <option value="name">Name</option>
                                <option value="cmc">Mana value</option>
                                <option value="power">Power</option>
                                <option value="toughness">Toughness</option>
                                <option value="set">Set</option>
                                <option value="rarity">Rarity</option>
                                <option value="released">Release date</option>
                                <option value="usd">Price</option>
                                <option value="">None</option>
                            </select>
                        </span>
                    </div>
                    <div class="form-group form-group-select">
                        <label for="dir">Direction</label>
                        <span class="select-arrow">
                            <select id="dir" name="dir">
                                <option value="asc" selected>Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="btn-grid">
                    <input type="submit" value="Search" class="btn btn-center btn-primary" />
                    <input type="reset" value="Reset" class="btn" />
                </div>
            </div>
        </div>
        <div class="row" id="form-errors">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="message px-2 py-1 w-100"></div>
            </div>
        </div>
    </form>
    <hr class="hr-light" />
    <div class="row">
        <div class="col" id="searchResultsContainer">
            <partial name="_SearchResultsPartial"/>
        </div>
    </div>
</div>