﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mageek</title>
    <link rel="stylesheet" href="~/lib/jquery-context-menu/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>
<body>
    <div id="main-container" class="mt-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-context-menu/jquery.contextMenu.js"></script>
    <script src="https://kit.fontawesome.com/28011edab8.js" crossorigin="anonymous"></script>
    @RenderSection("FormScripts", required: false)
    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
