﻿@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mageek</title>
    <link rel="stylesheet" href="~/lib/jquery-context-menu/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>
<body>
    <header id="navbar" class="box-shaodow">
        <div id="navbar-toggle">
            <i class="fa-solid fa-bars navbar-icon"></i>
        </div>
        <div id="navbar-main" class="container">
            <div class="row">
                <div class="col navbar-content">
                    <div class="site-logo">
                        <a asp-controller=Home asp-action=Index>
                            <img src="~/assets/images/logo/text-only-white.png" alt="Mageek logo" />
                        </a>
                    </div>
                </div>
                <div class="col col-flex-end navbar-user">
                    <ul class="navbar-links">
                        @if (User.Identity is not null && User.Identity.IsAuthenticated)
                        {
                            <li class="navbar-item">
                                <a class="navbar-link" asp-controller=Account asp-action=Logout><i class="fa-solid fa-power-off navbar-icon"></i></a>
                            </li>
                            <li class="navbar-item">
                                <a class="navbar-link" asp-controller=Account asp-action=Profile><i class="fa-solid fa-user navbar-icon"></i></a>
                            </li>
                        }
                        else
                        {
                            <li class="navbar-item">
                                <a class="navbar-link" asp-controller=Account asp-action=Login><i class="fa-solid fa-arrow-right-to-bracket navbar-icon"></i></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div id="navbar-overlay"></div>
        <div id="navbar-drawer">
            <ul class="navbar-links">
                <li class="navbar-item">
                    <a class="navbar-link" asp-controller=Decks asp-action=Index>Decks</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" asp-controller=Cards asp-action=Search>Advanced Search</a>
                </li>
            </ul>
        </div>
    </header>
    <div id="main-container">
        @*<div id="site-preloader">
            <i class="fa-solid fa-circle-notch fa-spin fa-2x"></i>
            </div>*@
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col copyrights">
                    &copy; Copyright @DateTime.Now.Year Mageek Inc.
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-context-menu/jquery.contextMenu.js"></script>
    <script src="https://kit.fontawesome.com/28011edab8.js" crossorigin="anonymous"></script>
    @RenderSection("FormScripts", required: false)
    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
